﻿<form name="form" novalidate class="form-horizontal">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Alvac Consultoria e Sistemas Ltda
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group" data-ng-class="{'has-error': form.email.$error.required && form.submitted}">
                    <button type="submit" class="btn btn-success pull-right" data-ng-click="download()">Baixar Contrato</button>
                </div>
            </div>
        </div>
    </div>
</form>