﻿@model IEnumerable<Alvac.Domain.DataTransferObject.InsurerConfiguration>


@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Configuração seguradora";
    ViewBag.BreadDescription = "Listagem de configurações de uma seguradora";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="@Url.Action("CreateConfiguration", new { requestType = ViewBag.RequestType, insurer = ViewBag.Insurer })" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Criar nova configuração
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered mg-t datatable" data-sortable="" data-sortable-initialized="true" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DisplayName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Key)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Options)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Required)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key)
                                    </td>
                                    <td style="word-wrap: break-word;">
                                        @Html.DisplayFor(modelItem => item.Options)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Required)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditConfiguration", new { id = item.InsurerConfigurationId })"><span class="ti-pencil-alt"></span></a>
                                        <a href="#" onclick="deleteConfiguration(@item.InsurerConfigurationId, this)"><span class="ti-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">

    function deleteConfiguration(insurerConfigurationId, element) {
        if (confirm("Tem certeza que deseja deletar essa configuração?")) {
            $.ajax({
                url: "/Insurers/DeleteConfiguration",
                method: "POST",
                data: { InsurerConfigurationId: insurerConfigurationId },
                success: function (html) {
                    toastr.success(html);
                    $(element).parents("tr").remove();
                }
            });
        }
    }

</script>