﻿@model IEnumerable<Alvac.Domain.DataTransferObject.Insurer>

@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Seguradoras";
    ViewBag.BreadDescription = "Listagem de seguradoras do sistema";
}


<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered mg-t datatable" data-sortable="" data-sortable-initialized="true">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Configurations", new { id = item.Id, requestType = 1 })"><span class="ti-car"></span></a>
                                    <a href="@Url.Action("Configurations", new { id = item.Id, requestType = 2 })"><span class="ti-heart"></span></a>
                                    <a href="@Url.Action("Configurations", new { id = item.Id, requestType = 3 })"><span class="ti-home"></span></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('.datatable').dataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
        });
    </script>
}