﻿<h3 id="pageTitle" class="red"><i class="glyphicon glyphicon-cog"></i> Configuração de relatórios</h3>

<form name="form" novalidate class="form-horizontal">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Cabeçalho
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Título</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="reportTitle" data-ng-model="model.reportTitle" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Subtítulo</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="reportSubtitle" data-ng-model="model.reportSubtitle" master-only>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Observações
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mensagem de aviso ao usuário</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="reportUserMessage" data-ng-model="model.reportUserMessage" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tamanho da fonte</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="reportFontSize" data-ng-model="model.reportFontSize" number-only master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Observações gerais</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="reportComments" data-ng-model="model.reportComments" master-only>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Rodapé
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mensagem</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="reportFooter" data-ng-model="model.reportFooter" master-only>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right" data-ng-click="save()" master-only>Salvar</button>
        </div>
    </div>
</form>