﻿@model IEnumerable<Alvac.Domain.DataTransferObject.Invoice>

@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Faturas";
    ViewBag.BreadDescription = "Listagem de faturas de uma assinatura";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="@Url.Action("Create", new { subscriptionId = ViewBag.SubscriptionId })" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Criar nova fatura
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable" data-sortable="" data-sortable-initialized="true">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Closing)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Value)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Closing)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @if (item.Status == Alvac.Domain.Enum.InvoiceStatus.Open)
                                        {
                                            <a href="@Url.Action("Deactivate", "Invoices", new { invoiceId = item.InvoiceId })" title="Desativar">
                                                <span class="ti-close"></span>
                                            </a>
                                        }
                                        
                                        <a href="@Url.Action("Index", "Transactions", new { invoiceId = item.InvoiceId })" title="Transações">
                                            <span class="ti-align-center"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
