﻿@model IEnumerable<Alvac.Domain.DataTransferObject.AccountConnection>

@{
    Layout = null;
}

<input type="hidden" id="accountId" value="@ViewBag.AccountId" />

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="#" class="btn btn-primary pull-right" onclick="$('#new-connection').toggle()">
            <i class="ti-share mr5"></i>Adicionar nova conexão
        </a>
    </div>
</div>

<div class="row" id="new-connection" style="display: none;">
    <div class="col-md-12">
        <section class="panel">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Seguradora</label>
                    <div class="col-md-8">
                       @Html.DropDownList("teste", (SelectList)ViewBag.Insurers, "Selecione", new { @class = "form-control load-connection", id = "insurer" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Tipo de requisição</label>
                    <div class="col-md-8">
                        @Html.EnumFor(typeof(Alvac.Domain.Enum.RequestType), "insurer", "Selecione", new { @class = "form-control load-connection", id = "requestType" })
                    </div>
                </div>

                <div id="div-connections" class="form-group" style="display: none;">
                    <label class="control-label col-md-2">Conexão</label>
                    <div class="col-md-8">
                        <select id="connections" class="form-control"></select>
                    </div>
                    <br /><br />
                    <div class="col-md-10">
                        <button class="btn btn-success pull-right" onclick="createConnection()">Salvar</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.InsurerId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConnectionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RequestType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Technology)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsurerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConnectionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Technology)
                                    </td>
                                    <td>
                                        <a href="#" onclick="deleteConnection(@item.ConnectionId, @item.AccountId, this)"><span class="ti-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">

    function deleteConnection(connectionId, accountId, element) {
        if (confirm("Tem certeza que deseja deletar essa conexão?")) {
            $.ajax({
                url: "/Accounts/DeleteConnection",
                method: "POST",
                data: { connectionId: connectionId, accountId: accountId },
                success: function (html) {
                    toastr.success(html);
                    $(element).parents("tr").remove();
                }
            });
        }
    }

    function createConnection() {
        var requestType = $("#requestType").val();
        var insurer = $("#insurer").val();
        var connection = $("#connections").val();
        var accountId = $("#accountId").val();

        $.ajax({
            url: "/Accounts/CreateConnection",
            method: "POST",
            data: { connectionId: connection, accountId: accountId, insurer: insurer, requestType: requestType },
            success: function (html) {
                toastr.success("Conexão criada");
                $('.modal').modal('hide');
            }
        });
    }

    $(".load-connection").change(function (e, n) {
        $("#div-connections").hide();
        var requestType = $("#requestType").val();
        var insurer = $("#insurer").val();

        if (requestType && insurer) {
            $.ajax({
                url: "/Accounts/LoadConnections?requestType=" + requestType + "&insurer=" + insurer,
                method: "GET",
                success: function (json) {
                    var options = '';
                    options += '<option value="">Selecione</option>';

                    for (var i = 0; i < json.length; i++) {
                        options += '<option value="' + json[i].ConnectionId + '">' + json[i].Name + '</option>';
                    }

                    $("#div-connections").show();
                    $("#connections").html(options);
                }
            });
        }
    });
</script>
