﻿@model IEnumerable<Alvac.Domain.DataTransferObject.Subscription>

@{
    Layout = null;
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="@Url.Action("Create", "Subscriptions", new { accountId = ViewBag.AccountId })" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Adicionar nova assinatura
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlanName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RequestType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlanName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @item.Created.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Subscriptions", new { id = item.SubscriptionId })" title="Editar">
                                            <span class="ti-pencil-alt"></span>
                                        </a>
                                        <a href="@Url.Action("Index", "Invoices", new { subscriptionId = item.SubscriptionId })" title="Faturas">
                                            <span class="ti-align-center"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
