﻿@model Alvac.Domain.DataTransferObject.Account

@{
    ViewBag.Title = "Delete";
    ViewBag.BreadTitle = "Cliente";
    ViewBag.BreadDescription = "Deletar um cliente no sistema";
}

<div class="row">
    <div class="col-md-12">
        <h3>Tem certeza que deseja deletar?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LegalRepresentative)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LegalRepresentative)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Susep)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Susep)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Document)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Document)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Street)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Street)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Neighborhood)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChargeEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChargeEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MobilePhone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Site)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Site)
                </dd>

            </dl>


            @using (Html.BeginForm("PostDelete", "Accounts"))
            {
                @Html.Hidden("id", Model.AccountId)

                <div class="form-actions no-color">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })

                    <input type="submit" value="Excluir" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>