﻿@model Alvac.Domain.DataTransferObject.Account

<div class="row">
    <div class="col-md-12">
        <div class="box-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#cliente" data-toggle="tab">Dados do cliente</a>
                </li>
                <li class="">
                    <a href="#assinatura" onclick="loadSubscriptions(@Model.AccountId)" data-toggle="tab">Assinaturas</a>
                </li>
                <li class="">
                    <a href="#conexao" onclick="loadConnections(@Model.AccountId)" data-toggle="tab">Conexões</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="cliente">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.LegalRepresentative)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LegalRepresentative)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Susep)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Susep)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Document)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Document)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ZipCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ZipCode)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Street)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Street)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Neighborhood)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Neighborhood)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.State)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.State)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.City)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ChargeEmail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ChargeEmail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MobilePhone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MobilePhone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Site)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Site)
                            </dd>

                        </dl>
                    </div>
                </div>

                <div class="tab-pane fade" id="assinatura">
                </div>

                <div class="tab-pane fade" id="conexao">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function loadSubscriptions(accountId) {
        var url = "/Accounts/Subscriptions/" + accountId;
        $.get(url, function (data) {
            $("#assinatura").html(data);
        });
    }

    function loadConnections(accountId) {
        var url = "/Accounts/Connections/" + accountId;
        $.get(url, function (data) {
            $("#conexao").html(data);
        });
    }
</script>