﻿@model IEnumerable<Alvac.Domain.DataTransferObject.Account>


@{
    ViewBag.BreadTitle = "Clientes";
    ViewBag.BreadDescription = "Listagem de clientes do sistema";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Criar novo cliente
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Representante legal</th>
                                <th>CPF/CNPJ</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        var table = $('.datatable').DataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
            processing: true,
            serverSide: true,
            ajax: '/Accounts/LoadTable',
            "columns": [
               { "data": "Name" },
               { "data": "Email" },
               { "data": "LegalRepresentative" },
               { "data": "Document" }],
            "columnDefs": [{
                "targets": 4,
                "data": null,
                "render": function (data, type, row) {
                    var html = "";
                    html += "<a href='/Accounts/Edit/" + data.AccountId + "' title='Editar'><span class='ti-pencil-alt'></span></a>";
                    html += "<a href='/Accounts/Delete/" + data.AccountId + "' title='Deletar'><span class='ti-trash'></span></a>";
                    html += "<a href='/Accounts/Details/" + data.AccountId + "' title='Detalhes'><span class='ti-view-list-alt'></span></a>";
                    return html;
                }
            }],
            "fnInitComplete": function (oSettings, json) {
                oSettings.oInstance.fnSetFilteringDelay();
            }
        });
    </script>
}