﻿<form name="form" novalidate class="form-horizontal">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-alt"></i> Cadastro de usuários
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group" data-ng-class="{'has-error': form.name.$error.required && form.submitted}">
                    <label class="col-sm-3 control-label">Nome</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="name" data-ng-model="model.name"
                               required>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': (form.email.$error.required || form.email.$error.uniqueEmail || form.email.$error.email) && form.submitted}">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" data-ng-model="model.email" ng-model-options="{ debounce: 1000 }"
                               required unique-email="model.id"
                               tooltip="{{form.email.$error.email ? 'Digite um email válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">

                        <div class="alert alert-warning" role="alert" ng-show="form.email.$error.uniqueEmail">
                            <i class="glyphicon glyphicon-alert warning"></i> Email já esta em uso.
                        </div>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': form.roles.$error.required && form.submitted}">
                    <label class="col-sm-3 control-label">Permissão</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="roles" required ng-model="model.role">
                            <option value="">Selecione</option>
                            <option ng-repeat="item in roles" value="{{item.id}}">{{item.name | role}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right" data-ng-click="save()">Salvar</button>
        </div>
    </div>
</form>