﻿<div class="modal-header">
    <h3 class="modal-title">Configuração da {{insurer.name}}</h3>
</div>
<div class="modal-body">
    <form name="templateConfigurationForm" novalidate>
        <div ng-repeat="item in insurer.parameters">

            <div class="form-group col-md-6" ng-form="innerForm" data-ng-class="{'has-error': innerForm.$invalid
                 && templateConfigurationForm.submitted}">
                <div ng-switch on="item.options.length > 0">
                    <div ng-switch-when="true">
                        <label class="control-label">{{item.displayName}}</label>
                        <select name="templateItem" class="form-control" ng-model="item.value" ng-required="item.required" master-only
                                ng-options="ddlItem for ddlItem in item.options.split('|')">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div ng-switch-default>
                        <label class="control-label">{{item.displayName}}</label>
                        <div ng-switch on="item.type">
                            <div ng-switch-when="System.Decimal">
                                <input type="text" name="templateItem" class="form-control" ng-model="item.value" master-only
                                       ng-required="item.required" ui-money-mask />
                            </div>

                            <div ng-switch-when="System.Int32">
                                <input type="text" name="templateItem" class="form-control" ng-model="item.value" master-only
                                       ng-required="item.required" number-only />
                            </div>

                            <div ng-switch-when="System.Boolean">
                                <input type="checkbox" name="templateItem" ng-model="item.value" value="true" master-only /> Incluir {{item.displayName}}
                            </div>

                            <div ng-switch-default>

                                <input type="password" name="templateItem" class="form-control" ng-model="item.value" master-only ng-required="item.required" ng-if="item.displayName == 'Senha'">
                                <input type="text" name="templateItem" class="form-control" ng-model="item.value" master-only ng-required="item.required" ng-if="item.displayName != 'Senha'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-success" ng-click="ok()" master-only>Salvar</button>
</div>