﻿<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="navbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="assets/img/Alvac_logo_novo_pequeno.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse bs-navbar-collapse">
            <div menu="menu" class="nav navbar-nav"></div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle cursor" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{authentication.userName}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Gerenciar conta</a></li>
                        <li><a>Preferências</a></li>
                        <li class="divider"></li>
                        <li><a data-ng-click="logOut()"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>