﻿@model Alvac.Domain.DataTransferObject.Plan

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <div class="col-md-12">
        <h3>Tem certeza que deseja deletar?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Recurrence)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Recurrence)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Value)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Value)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalValue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalValue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Trial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Trial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>

            @using (Html.BeginForm("PostDelete", "Plans"))
            {
                @Html.Hidden("id", Model.PlanId)

                <div class="form-actions no-color">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })

                    <input type="submit" value="Excluir" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>
