﻿@model IEnumerable<Plan>

@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Planos";
    ViewBag.BreadDescription = "Listagem de planos do sistema";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="Plans/Create" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Criar novo plano
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered mg-t datatable" data-sortable="" data-sortable-initialized="true">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.RecurrenceType)</th>
                                <th>@Html.DisplayNameFor(model => model.Recurrence)</th>
                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                <th>@Html.DisplayNameFor(model => model.Value)</th>
                                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RecurrenceType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Recurrence)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id = item.PlanId })"><span class="ti-pencil-alt"></span></a>
                                            <a href="@Url.Action("Delete", new { id = item.PlanId })"><span class="ti-trash"></span></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('.datatable').dataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
        });
    </script>
}