﻿<div class="col-md-12 metro">
    <a href="/cotacao/automovel/cadastro">
        <div class="tile bg-light-blue">
            <div class="tile-content icon">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </div>
            <div class="tile-status">
                <span class="name">Nova cotação</span>
            </div>
        </div>
    </a>

    <a href="/cotacao/automovel">
        <div class="tile bg-light-blue">
            <div class="tile-content icon">
                <i class="glyphicon glyphicon-search"></i>
            </div>
            <div class="tile-status">
                <span class="name">Minhas cotações</span>
            </div>
        </div>
    </a>

    <a href="/relatorios/geral">
        <div class="tile bg-green">
            <div class="tile-content icon">
                <i class="glyphicon glyphicon-signal"></i>
            </div>
            <div class="tile-status">
                <span class="name">Relatório geral</span>
            </div>
        </div>
    </a>

    <a href="/relatorios/usuario">
        <div class="tile bg-green">
            <div class="tile-content icon">
                <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="tile-status">
                <span class="name">Relatório por usuário</span>
            </div>
        </div>
    </a>

    <a href="/configuracao/seguradoras/templates" master-only="show">
        <div class="tile bg-red">
            <div class="tile-content icon">
                <i class="glyphicon glyphicon-cog"></i>
            </div>
            <div class="tile-status">
                <span class="name">Config. das seguradoras</span>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Cotações por ramo</div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie" data="pieData" legend="true" options="{ responsive: true }"
                            labels="pieLabels"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">Seguros por mês</div>
                <div class="panel-body">
                    <h3>R$ 25.000,10</h3>
                    <canvas id="bar" class="chart chart-bar" data="barData" options="barOptions"
                            labels="barLabels"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">Cotações por seguradora</div>
                    <div class="panel-body">
                        <canvas id="line" class="chart chart-line" data="areaData" options="{ responsive: true }"
                                labels="areaLabels" legend="true" series="areaSeries"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 hidden-xs">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="glyphicon glyphicon-list-alt"></i> Últimas cotações</div>
            <div class="panel-body">
                <div id="last-quotations" class="list-group">
                    <div ng-if="lastQuotations.length == 0">
                        Você não possui nenhuma cotação.
                    </div>
                    <a href="/cotacao/automovel/{{item.quotationId}}" class="list-group-item list-group-item"
                       ng-repeat="item in lastQuotations">{{item.fullName}} - {{item.count}}/{{item.insurerQuotation.length}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
