/*
 *  Color Scheme
 *
 */
/* Selected text */
::-moz-selection {
    background: #f8f8f8;
    color: #0094D4;
    text-shadow: none;
}

::selection {
    background: #f8f8f8;
    color: #0094D4;
    text-shadow: none;
}
/*********************/
/* Spinnner */
.loader:after {
    border: solid 1px transparent;
    border-top-color: #f8f8f8;
    border-left-color: #f8f8f8;
}
/*********************/
/* Link hover */
a:active,
a:focus,
a:hover {
    color: #1166ad;
}
/*********************/
/* Layout top header */
.app > .header {
    background-color: #f8f8f8;
}

    .app > .header .brand {
        background-color: #f8f8f8;
    }

        .app > .header .brand a,
        .app > .header .brand a:hover {
            color: rgba(219, 237, 252, 0.9);
        }

    .app > .header .navbar-toggle,
    .app > .header .nav > li > a,
    .app > .header .bg-none {
        color: #000000;
    }

@media screen and (min-width: 768px) {
    .header .nav > li > a:hover,
    .header .nav > li > a:focus,
    .header .nav .open > a,
    .header .nav .open > a:hover,
    .header .nav .open > a:focus {
        background-color: #0094D4;
    }
}

.header .open a.toggle-search,
.header a.toggle-search:hover {
    background-color: #0094D4;
}
/*********************/
/* Layout Sidebar */
.sidebar {
    background-color: #f8f8f8;
    color: #333;
}

    .sidebar a,
    .sidebar .nav-title {
        color: #333;
    }

.compact-menu .main-navigation > ul > li {
    border-bottom: 1px solid #4a4b5b;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.app:not(.small-menu) .main-navigation > ul > li > ul > li.active a,
.app:not(.small-menu) .main-navigation > ul > li > ul > li a:hover {
    color: #0094D4;
}

.main-navigation > ul > li:hover > a {
    color: #0094D4;
}

.main-navigation > ul > li .sub-menu {
    background-color: #e7e7e7;
}

@media screen and (min-width: 768px) {
    .small-menu .main-navigation > ul > li.open {
        background-color: #4a4b5b;
    }

    .small-menu .main-navigation .nav > li > .sub-menu .sub-menu {
        background-color: #f8f8f8;
    }
}
/*********************/
/* Gallery hover overlay */
.gallery .overlay {
    background-color: #f8f8f8;
    background-color: rgba(79, 80, 97, 0.9);
}
/*********************/
/* Skin button style */
.btn-color {
    color: #ffffff;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

a.btn-color {
    color: #ffffff;
}

.btn-color:hover,
.btn-color:focus,
.btn-color:active,
.btn-color.active,
.open .dropdown-toggle.btn-color {
    color: #ffffff;
    background-color: #444453;
    background-image: none;
    border-color: #444453;
}

.btn-color.disabled,
.btn-color[disabled],
fieldset[disabled] .btn-color,
.btn-color.disabled:hover,
.btn-color[disabled]:hover,
fieldset[disabled] .btn-color:hover,
.btn-color.disabled:focus,
.btn-color[disabled]:focus,
fieldset[disabled] .btn-color:focus,
.btn-color.disabled:active,
.btn-color[disabled]:active,
fieldset[disabled] .btn-color:active,
.btn-color.disabled.active,
.btn-color[disabled].active,
fieldset[disabled] .btn-color.active {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

.btn-color.btn-outline {
    background-color: transparent;
    color: #f8f8f8;
}

    .btn-color.btn-outline:hover,
    .btn-color.btn-outline:focus,
    .btn-color.btn-outline:active,
    .btn-color.btn-outline.active {
        background-color: #f8f8f8;
        color: #ffffff;
    }
/*********************/
/* Skin text color style */
.color {
    color: #f8f8f8;
}
/*********************/
/* Skin nestable style */
#nestable2 .dd-handle {
    color: #cacbd0;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}

    #nestable2 .dd-handle:hover {
        background-color: #5a5c6f;
    }
/*********************/
/* Skin slider style */
.slider-color .slider-selection {
    background-color: #f8f8f8;
}

.slider-color .slider-handle {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px, #f8f8f8 0px 0px 0px 1px;
}
/*********************/
/* Skin panel style */
.panel-color {
    border-color: #f8f8f8;
}

    .panel-color > .panel-heading {
        color: #cacbd0;
        background-color: #f8f8f8;
        border-color: #f8f8f8;
    }

        .panel-color > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #f8f8f8;
        }

        .panel-color > .panel-heading a {
            color: #cacbd0;
        }

    .panel-color > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #f8f8f8;
    }
/*********************/
/* Skin label style */
.label-color {
    background-color: #f8f8f8;
}

    .label-color[href]:hover,
    .label-color[href]:focus {
        background-color: #383945;
    }
/*********************/
/* Skin background color */
.bg-color {
    background-color: #f8f8f8;
    color: #cacbd0;
}

    .bg-color a {
        color: #cacbd0;
    }

        .bg-color a:active,
        .bg-color a:focus,
        .bg-color a:hover {
            color: #afb0b7;
            text-decoration: none;
            outline: 0;
        }

    .bg-color .nav > li:hover > a,
    .bg-color .nav > li:focus > a,
    .bg-color .nav > li:active > a,
    .bg-color .nav > li.active > a,
    .bg-color .nav > li > a:hover,
    .bg-color .nav > li > a:focus {
        background-color: #484959;
    }
/*********************/
/* Skin pagination style */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    color: #ffffff;
}
/*********************/
/* Skin progress bar style */
.progress-bar-color {
    background-color: #f8f8f8;
}
/*********************/
/* Skin chart elements */
.morris-hover.morris-default-style {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    background-color: rgba(79, 80, 97, 0.9);
}

    .morris-hover.morris-default-style a {
        color: #ffffff;
    }

#jqstooltip {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

#tooltip {
    background-color: #f8f8f8;
    color: #ffffff;
}

    #tooltip:before {
        border-color: transparent #f8f8f8 transparent transparent;
    }
/*********************/
.jvectormap-label {
    border: solid 1px #f8f8f8;
    background-color: #f8f8f8;
    color: white;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    background-color: #f8f8f8;
    color: white;
}
