﻿<h3 id="pageTitle" class="yellow"><i class="glyphicon glyphicon-briefcase"></i> {{pageTitle}}</h3>

<form name="accountForm" novalidate >
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-alt"></i> Informações de cadastro
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">


            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.legalRepresentative.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Responsável legal</label>
                <input type="text" class="form-control" name="legalRepresentative" ng-model="model.legalRepresentative" required master-only="disabled" />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.susep.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Susep</label>
                <input type="text" class="form-control" name="susep" ng-model="model.susep" required ng-disabled="true" />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': insuredForm.personType.$error.required && accountForm.submitted}">
                <label class="control-label">Tipo de pessoa</label>
                <div>
                    <label>
                        <input type="radio" name="personType" value="Natural" data-ng-model="model.personType" data-ng-required="!model.personType" ng-disabled="true"> Física
                    </label>
                    <label>
                        <input type="radio" name="personType" value="Legal" data-ng-model="model.personType" data-ng-required="!model.personType" ng-disabled="true"> Jurídica
                    </label>
                </div>
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': (accountForm.document.$error.required ||  accountForm.document.$error.cpf || accountForm.document.$error.cnpj) && accountForm.submitted}">
                <label class="control-label">Qual o {{model.personType == "Natural" ? "CPF" : "CNPJ"}}?</label>
                <div ng-switch="model.personType">

                    <input ng-switch-when="Natural" type="text" class="form-control" name="document" data-ng-model="model.document" data-ng-required="model.personType == 'Natural'" ui-br-cpf-mask ng-disabled="true"
                           tooltip="{{insuredForm.document.$error.cpf ? 'Digite um CPF válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">

                    <input ng-switch-when="Legal" type="text" class="form-control" name="document" data-ng-model="model.document" data-ng-required="mmodel.personType == 'Legal'" ui-br-cnpj-mask ng-disabled="true"
                           tooltip="{{insuredForm.document.$error.cnpj ? 'Digite um CNPJ válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.name.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Nome e/ou razao social</label>
                <input type="text" class="form-control" name="name" ng-model="model.name" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.zipCode.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">CEP</label>
                <input type="text" class="form-control" name="zipCode" ng-model="model.zipCode" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.street.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Endereço</label>
                <input type="text" class="form-control" name="street" ng-model="model.street" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.neighborhood.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Bairro</label>
                <input type="text" class="form-control" name="neighborhood" ng-model="model.neighborhood" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.state.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Estado</label>
                <input type="text" class="form-control" name="state" ng-model="model.state" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.city.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Cidade</label>
                <input type="text" class="form-control" name="city" ng-model="model.city" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.email.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Email</label>
                <input type="text" class="form-control" name="email" ng-model="model.email" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.chargeEmail.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Email de cobrança</label>
                <input type="text" class="form-control" name="chargeEmail" ng-model="model.chargeEmail" required master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.phone.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Telefone</label>
                <input type="text" class="form-control" name="phone" ng-model="model.phone" required ui-br-phone-number master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.mobilePhone.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Celular</label>
                <input type="text" class="form-control" name="mobilePhone" ng-model="model.mobilePhone" required ui-br-phone-number master-only />
            </div>

            <div class="form-group col-md-6" data-ng-class="{'has-error': accountForm.site.$error.required && accountForm.submitted}">
                <label for="name" class="control-label">Site</label>
                <input type="text" class="form-control" name="site" ng-model="model.site" required master-only />
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right" data-ng-click="update()" master-only="show">Salvar</button>
        </div>
    </div>
</form>