﻿<h3 id="pageTitle" class="red"><i class="glyphicon glyphicon-cog"></i> Configuração de email</h3>

<form name="form" novalidate class="form-horizontal">
    
    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Configurações de email
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">SMTP</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="emailHost" data-ng-model="model.emailHost" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Usuario</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="emailUsername" data-ng-model="model.emailUsername" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Senha</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="emailPassword" data-ng-model="model.emailPassword" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Porta</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="emailPort" data-ng-model="model.emailPort" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3 checkbox">
                        <label>
                            <input type="checkbox" name="emailEnableSsl" data-ng-model="model.emailEnableSsl" master-only>
                            Usar SSL
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Configurações de envio e recebimento
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email de recebimento</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" data-ng-model="model.emailReceipt" master-only>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Enviar email para o segurado?</label>
                    <div class="col-sm-7 radio">
                        <label>
                            <input type="radio" name="sendEmail" ng-model="model.emailSendToInsured" value="true" ng-checked="model.emailSendToInsured" master-only /> Sim
                        </label>

                        <label>
                            <input type="radio" name="sendEmail" ng-model="model.emailSendToInsured" value="false" ng-checked="!model.emailSendToInsured" master-only /> Não
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-cog"></i> Modelo de email
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <textarea name="email-body" style="height: 200px" ck-editor ng-model="model.emailBody" master-only></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right" data-ng-click="save()" master-only>Salvar</button>
        </div>
    </div>
</form>