﻿@model Alvac.Ui.Admin.Models.AuthBindingModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/animate.min.css">

    <link rel="SHORTCUT ICON" href="~/img/favicon.ico" />
</head>
<body>
    <div id="main">

        <div class="container">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <img src="~/img/Alvac_logo_novo.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-signin opacity form-horizontal" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-md-4" for="usuario">
                                    Usuário
                                </label>
                                <div class="col-md-5">
                                    @Html.EditorFor(x => x.UserName)
                                    @Html.ValidationMessageFor(x => x.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="password">
                                    Senha
                                </label>
                                <div class="col-md-5">
                                    @Html.PasswordFor(x => x.Password)
                                    @Html.ValidationMessageFor(x => x.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-5">
                                    <button id="signIn" type="submit" class="btn btn-default pull-right">Entrar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="col-sm-offset-2 col-sm-8">
                <br />
                <img src="~/img/relogio_quadrado.png" width="50" class="pull-left" style="padding: 10px;" />
                <small><strong>© 2015 - Alvac Sistemas Ltda.</strong></small><br>
                <small>Rua Desembargador Jorge Fontana, 80 - Sala 301 - CEP: 30320-670 - Belvedere - Belo Horizonte - MG</small><br>
                <p><i class="icon-phone"></i> (31) 3299-5111 <i class="icon-mail"></i> <a href="mailto:Alvac@Alvac.com.br">Alvac@Alvac.com.br</a> <i class="icon-compass"></i> <a href="http://www.Alvac.com.br">www.Alvac.com.br</a></p>
            </div>
        </div>
    </footer>

    <script src="~/plugins/jquery-1.11.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
