﻿@model Alvac.Domain.DataTransferObject.Dispatcher

@{
    ViewBag.Title = "Delete";
    ViewBag.BreadTitle = "Despachante";
    ViewBag.BreadDescription = "Deletar um despachante no sistema";
}

<div class="row">
    <div class="col-md-12">
        <h3>Tem certeza que deseja deletar?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Insurer)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Insurer)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Technology)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Technology)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RequestType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>

            @using (Html.BeginForm("PostDelete", "Dispatchers"))
            {
                @Html.Hidden("id", Model.DispatcherId)

                <div class="form-actions no-color">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })

                    <input type="submit" value="Excluir" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>