﻿<div class="modal-header">
    <h3 class="modal-title">Condutor adicional</h3>
</div>
<div class="modal-body">
    <form name="additionalDriverForm" novalidate class="form-horizontal">
        <div class="form-group" data-ng-class="{'has-error': additionalDriverForm.fullName.$error.required && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Qual o nome do condutor adicional?</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="fullName" data-ng-model="item.FullName" required
                       tooltip="Escreva o nome completo exatamente como consta no seu documento de identificação" tooltip-append-to-body="true" tooltip-trigger="focus">
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': additionalDriverForm.gender.$error.required && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Qual é o sexo?</label>
            <div class="col-sm-6">
                <select class="form-control" name="gender" data-ng-model="item.Gender" required>
                    <option value="">Selecione uma opção</option>
                    <option value="1">Feminino</option>
                    <option value="2">Masculino</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': (additionalDriverForm.birthDate.$error.required || mainDriverForm.birthDate.$error.date) && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Qual a data de nascimento?</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="birthDate" data-ng-model="item.BirthDate" required>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': additionalDriverForm.maritalStatus.$error.required && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Qual o Estado Civil?</label>
            <div class="col-sm-6">
                <select class="form-control" name="maritalStatus" data-ng-model="item.MaritalStatus" required>
                    <option value="">Selecione uma opção</option>
                    <option value="1">Solteiro(a)</option>
                    <option value="2">Casado(a)</option>
                    <option value="3">Divorciado(a)</option>
                    <option value="4">Viúvo(a)</option>
                    <option value="5">Separado(a)</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': (additionalDriverForm.driverLicenseYears.$error.required || additionalDriverForm.driverLicenseYears.$error.date) && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Tempo de habilitação?</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="driverLicenseYears" data-ng-model="item.DriverLicenseYears" required number-only>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': (additionalDriverForm.relationshipWithInsured.$error.required) && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Qual a relação com o segurado?</label>
            <div class="col-sm-6">
                <select class="form-control" name="relationshipWithInsured" data-ng-model="item.RelationshipWithInsured" required>
                    <option value="">Selecione uma opção</option>
                    <option value="1">Filho/Enteado</option>
                    <option value="2">Cônjuge</option>
                    <option value="3">Pai/Mãe</option>
                    <option value="4">Motorista Particular</option>
                    <option value="5">Empregado/Funcionário</option>
                    <option value="6">Empregador</option>
                    <option value="7">Sócio</option>
                    <option value="8">Outros</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': additionalDriverForm.hasRegisteredVehicle.$error.required && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Possui veículo em seu nome?</label>
            <div class="radio col-sm-6">
                <label>
                    <input type="radio" name="hasRegisteredVehicle" value="true" data-ng-model="item.HasRegisteredVehicle" data-ng-required="!item.HasRegisteredVehicle"> Sim
                </label>
                <label>
                    <input type="radio" name="hasRegisteredVehicle" value="false" data-ng-model="item.HasRegisteredVehicle" data-ng-required="!item.HasRegisteredVehicle"> Não
                </label>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': additionalDriverForm.livesWithMainDriver.$error.required && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Mora com o condutor principal?</label>
            <div class="radio col-sm-6">
                <label>
                    <input type="radio" name="livesWithMainDriver" value="true" data-ng-model="item.LivesWithMainDriver" data-ng-required="!item.LivesWithMainDriver"> Sim
                </label>
                <label>
                    <input type="radio" name="livesWithMainDriver" value="false" data-ng-model="item.LivesWithMainDriver" data-ng-required="!item.LivesWithMainDriver"> Não
                </label>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': (additionalDriverForm.numberOfUseDaysPerWeek.$error.required || additionalDriverForm.numberOfUseDaysPerWeek.$error.max) && additionalDriverForm.submitted}">
            <label class="col-sm-3 control-label">Quantos dias dirige o veículo na semana?</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="numberOfUseDaysPerWeek" data-ng-model="item.NumberOfUseDaysPerWeek" required number-only max="7" min="0"
                       tooltip="{{additionalDriverForm.numberOfUseDaysPerWeek.$error.max ? 'Dias deve ser menor ou igual a 7.' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-info" ng-click="ok()">Adicionar</button>
</div>