﻿<h3 id="pageTitle" class="dark-blue"><i class="glyphicon glyphicon-list-alt"></i> {{pageTitle}}</h3>

<progressbar value="formProgressBar"></progressbar>

<form name="form" class="form-horizontal" novalidate>

    <tabset justified="true">
        <tab heading="Sobre o Veículo" active="tabs.vehicle">
            <div ng-form="vehicleForm">
                <ng-include src="'app/components/autoquotation/form.vehicle.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="isVehicleValid()">Próximo Passo: Sobre o condutor principal »</button>
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Condutores" active="tabs.mainDriver" disabled="!form.vehicleForm.$valid"
             tooltip="{{!form.vehicleForm.$valid ? 'Complete as informações do veículo' : ''}}" tooltip-append-to-body="true">
            <div ng-form="mainDriverForm">
                <ng-include src="'app/components/autoquotation/form.main-driver.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="isMainDriverValid()">Próximo Passo: Sobre o segurado »</button>
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Segurado" active="tabs.insured" disabled="!form.vehicleForm.$valid || !form.mainDriverForm.$valid"
             tooltip="{{!form.vehicleForm.$valid || !form.mainDriverForm.$valid ? 'Complete as informações do condutor principal' : ''}}" tooltip-append-to-body="true">
            <div ng-form="insuredForm">
                <ng-include src="'app/components/autoquotation/form.insured.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="isInsuredValid()">Próximo Passo: Sobre o proprietário »</button>
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Proprietário" active="tabs.vehicleOwner" disabled="!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid"
             tooltip="{{!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid ? 'Complete as informações do segurado' : ''}}" tooltip-append-to-body="true">
            <div ng-form="vehicleOwnerForm">
                <ng-include src="'app/components/autoquotation/form.main-owner.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="isVehicleOwnerValid()">Próximo Passo: Sobre o seguro »</button>
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Seguro" active="tabs.insurance" disabled="!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid || !form.vehicleOwnerForm.$valid"
             tooltip="{{!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid || !form.vehicleOwnerForm.$valid ? 'Complete as informações do proprietário' : ''}}" tooltip-append-to-body="true">
            <div ng-form="insuranceForm">
                <ng-include src="'app/components/autoquotation/form.insurance.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="isInsuranceValid()">Próximo Passo: Sobre as seguradoras »</button>
                    </div>
                </div>
            </div>
        </tab>
        
        <tab heading="Seguradoras" active="tabs.insurers" disabled="!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid || !form.vehicleOwnerForm.$valid || !form.insuranceForm.$valid"
             tooltip="{{!form.vehicleForm.$valid || !form.mainDriverForm.$valid || !form.insuredForm.$valid || !form.vehicleOwnerForm.$valid || !form.insuranceForm.$valid ? 'Complete as informações do segurado' : ''}}" tooltip-append-to-body="true">
            <div ng-form="insurerForm">
                <ng-include src="'app/components/autoquotation/form.insurers.html'"></ng-include>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right" data-ng-click="quotation()">Fazer cotação</button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</form>