﻿<div class="modal-header">
    <h3 class="modal-title">Dependente</h3>
</div>
<div class="modal-body">
    <form name="dependentForm" novalidate class="form-horizontal">
        <div class="form-group" data-ng-class="{'has-error': (dependentForm.age.$error.required || dependentForm.age.$error.max) && dependentForm.submitted}">
            <label class="col-sm-3 control-label">Qual a idade?</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="age" data-ng-model="item.Age" required number-only min="0" max="25"
                       tooltip="{{dependentForm.age.$error.max ? 'Idade deve ser menor ou igual a 25 anos.' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': dependentForm.gender.$error.required && dependentForm.submitted}">
            <label class="col-sm-3 control-label">Qual é o sexo?</label>
            <div class="col-sm-6">
                <select class="form-control" name="gender" data-ng-model="item.Gender" required>
                    <option value="">Selecione uma opção</option>
                    <option value="1">Feminino</option>
                    <option value="2">Masculino</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': dependentForm.livesWithMainDriver.$error.required && dependentForm.submitted}">
            <label class="col-sm-3 control-label">Mora com o condutor principal?</label>
            <div class="radio col-sm-6">
                <label>
                    <input type="radio" name="livesWithMainDriver" value="true" data-ng-model="item.LivesWithMainDriver" data-ng-required="!item.LivesWithMainDriver"> Sim
                </label>
                <label>
                    <input type="radio" name="livesWithMainDriver" value="false" data-ng-model="item.LivesWithMainDriver" data-ng-required="!item.LivesWithMainDriver"> Não
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-info" ng-click="ok()">Adicionar</button>
</div>