﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Proprietário</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">

            <div class="form-group" data-ng-class="{'has-error': vehicleOwnerForm.fullName.$error.required && vehicleOwnerForm.submitted}">
                <label class="col-sm-3 control-label">Nome do Proprietário</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="fullName" data-ng-model="model.Request.VehicleOwner.FullName" required ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'"
                           tooltip="Escreva o nome completo exatamente como consta no seu documento de identificação" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleOwnerForm.personType.$error.required && vehicleOwnerForm.submitted}">
                <label class="col-sm-3 control-label">Tipo de pessoa</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="personType" value="1" data-ng-model="model.Request.VehicleOwner.PersonType" data-ng-required="!model.Request.VehicleOwner.PersonType" ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'"> Física
                    </label>
                    <label>
                        <input type="radio" name="personType" value="2" data-ng-model="model.Request.VehicleOwner.PersonType" data-ng-required="!model.Request.VehicleOwner.PersonType" ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'"> Jurídica
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleOwnerForm.document.$error.required ||  vehicleOwnerForm.document.$error.cpf)&& vehicleOwnerForm.submitted}">
                <label class="col-sm-3 control-label">Qual o {{model.Request.VehicleOwner.PersonType == "1" ? "CPF" : "CNPJ"}}?</label>
                <div class="col-sm-6" ng-switch="model.Request.VehicleOwner.PersonType">

                    <input ng-switch-when="1" type="text" class="form-control" name="document" data-ng-model="model.Request.VehicleOwner.Document" data-ng-required="model.Request.VehicleOwner.PersonType == '1'" ui-br-cpf-mask
                           tooltip="{{vehicleOwnerForm.document.$error.cpf ? 'Digite um CPF válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus" ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'">

                    <input ng-switch-when="2" type="text" class="form-control" name="document" data-ng-model="model.Request.VehicleOwner.Document" data-ng-required="model.Request.VehicleOwner.PersonType == '2'" ui-br-cnpj-mask
                           tooltip="{{vehicleOwnerForm.document.$error.cnpj ? 'Digite um CNPJ válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleOwnerForm.gender.$error.required && vehicleOwnerForm.submitted}" ng-hide="model.Request.VehicleOwner.PersonType == '2'">
                <label class="col-sm-3 control-label">Sexo</label>
                <div class="col-sm-6">
                    <select class="form-control" name="gender" data-ng-model="model.Request.VehicleOwner.Gender" ng-required="model.Request.VehicleOwner.PersonType == '1'"
                            ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Feminino</option>
                        <option value="2">Masculino</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleOwnerForm.birthDate.$error.required || vehicleOwnerForm.birthDate.$error.date) && vehicleOwnerForm.submitted}"
                  ng-hide="model.Request.VehicleOwner.PersonType == '2'">
                <label class="col-sm-3 control-label">Data de nascimento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthDate" data-ng-model="model.Request.VehicleOwner.BirthDate" ng-required="model.Request.VehicleOwner.PersonType == '1'"
                           ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'"
                           tooltip="{{vehicleOwnerForm.birthDate.$error.date ? 'Digite uma data válida' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleOwnerForm.maritalStatus.$error.required && vehicleOwnerForm.submitted}" ng-hide="model.Request.VehicleOwner.PersonType == '2'">
                <label class="col-sm-3 control-label">Estado Civil</label>
                <div class="col-sm-6">
                    <select class="form-control" name="maritalStatus" data-ng-model="model.Request.VehicleOwner.MaritalStatus" ng-required="model.Request.VehicleOwner.PersonType == '1'"
                            ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Solteiro(a)</option>
                        <option value="2">Casado(a)</option>
                        <option value="3">Divorciado(a)</option>
                        <option value="4">Viúvo(a)</option>
                        <option value="5">Separado(a)</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleOwnerForm.zipCode.$error.required || vehicleOwnerForm.zipCode.$error.cep )&& vehicleOwnerForm.submitted}">
                <label class="col-sm-3 control-label">Informe o CEP de Residência</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="zipCode" data-ng-model="model.Request.VehicleOwner.ZipCode" required ui-br-cep-mask ng-disabled="model.Request.MainDriver.IsVehicleOwner == 'true'"
                           tooltip="{{vehicleForm.zipCode.$error.cep ? 'Digite um CEP válido.' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleOwnerForm.vehiclesNumbers.$error.required || vehicleOwnerForm.vehiclesNumbers.$error.max) && vehicleOwnerForm.submitted}"
                 ng-hide="model.Request.VehicleOwner.PersonType == '2'">
                <label class="col-sm-3 control-label">Número de veículos que possui?</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="vehiclesNumbers" data-ng-model="model.Request.VehicleUse.VehiclesNumbers" ng-required="model.Request.VehicleOwner.PersonType == '1'" number-only
                           tooltip="{{vehicleOwnerForm.vehiclesNumbers.$error.max ? 'Quantidade deve ser menor ou igual a 99.' : ''}}" min="0" max="99" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>
        </div>
    </div>
</div>