﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Seguradoras</div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Escolha o template</label>
            <div class="col-sm-10">
                <select class="form-control" required ng-options="item.name for item in templates" ng-model="selectedTemplate">
                    <option value="">Selecione</option>
                </select>
            </div>
        </div>
        <div ng-show="selectedTemplate">
            <div class="form-group">
                <label class="col-sm-2 control-label">Seguradoras a calcular</label>
                <div class="col-sm-10">
                    <div class="checkbox" data-ng-repeat="insurer in insurers">
                        <label>
                            <input type="checkbox" checklist-model="selectedInsurers" checklist-value="insurer" ng-required="selectedInsurers.length == 0"
                                   ng-click="loadParamaters($event, insurer, selectedTemplate)"> {{insurer.name}}
                        </label>
                        <i ng-show="selectedInsurers.indexOf(insurer) != -1" class="glyphicon glyphicon-pencil" ng-click="openTemplateConfiguration(insurer)"></i>
                        <select ng-show="selectedInsurers.indexOf(insurer) != -1"
                                ng-required="selectedInsurers.indexOf(insurer) != -1"
                                ng-options="item.vehicleId as item.model for item in insurer.vehicles"
                                ng-model="insurer.vehicle">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Franquia <i class="glyphicon glyphicon-question-sign" tooltip="Cada Franquia selecionada em cada seguradora contabiliza um novo cálculo." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i></label>
                <div class="col-sm-2">
                    <div class="checkbox" data-ng-repeat="deductible in deductibleTypes">
                        <label>
                            <input type="checkbox" checklist-model="model.DeductibleTypeList" checklist-value="deductible.id" ng-required="model.DeductibleTypeList.length == 0"> {{deductible.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
