﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Seguro</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">

            <div class="form-group" data-ng-class="{'has-error': insuranceForm.isRenewal.$error.required && insuranceForm.submitted}">
                <label class="col-sm-3 control-label">Trata-se de seguro novo ou Renovação?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isRenewal" value="true" data-ng-model="isRenewal" data-ng-required="!isRenewal"> Seguro novo
                    </label>
                    <label>
                        <input type="radio" name="isRenewal" value="false" data-ng-model="isRenewal" data-ng-required="!isRenewal"> Renovação
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-show="isRenewal == 'false'" data-ng-class="{'has-error': insuranceForm.insuranceNumber.$error.required && insuranceForm.submitted}">
                <label class="col-sm-3 control-label">Número da apólice</label>
                <div class="radio col-sm-6">
                    <input type="number" class="form-control" name="insuranceNumber" data-ng-model="insuranceNumber" number-only data-ng-required="isRenewal == 'false'">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (insuranceForm.insurancePolicyInitialDate.$error.required || insuranceForm.insurancePolicyInitialDate.$error.min || insuranceForm.insurancePolicyInitialDate.$error.max) && insuranceForm.submitted}">
                <label class="col-sm-3 control-label">Data de Inicio da Apólice</label>
                <div class="radio col-sm-6">
                    <input type="date" class="form-control" name="insurancePolicyInitialDate" data-ng-model="model.Request.Insurance.InsurancePolicyInitialDate" required
                           min="{{insurancePolicyInitialDateMin}}" max="{{insurancePolicyInitialDateax}}"
                           tooltip="A data deve ser até 7 dias atrás ou até 45 dias decorridos"
                           tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Data de fim da apólice</label>
                <div class="radio col-sm-6">
                    <input type="date" class="form-control" disabled data-ng-model="model.Request.Insurance.InsurancePolicyFinalDate">
                </div>
            </div>

            <div data-ng-show="isRenewal == 'false'">
                <div class="form-group" data-ng-class="{'has-error': insuranceForm.currentInsuranceCompany.$error.required && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Seguradora Anterior</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="currentInsuranceCompany" ng-options="item.id as item.name for item in previouslyInsurers"
                                data-ng-model="model.Request.Insurance.Renewal.CurrentInsuranceCompany" data-ng-required="isRenewal == 'false'">
                            <option value="">Selecione uma opção</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': insuranceForm.currentCoveragePlanType.$error.required && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Tipo de Cobertura anterior</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="currentCoveragePlanType" data-ng-model="model.Request.Insurance.Renewal.CurrentCoveragePlanType" data-ng-required="isRenewal == 'false'">
                            <option value="">Selecione uma opção</option>
                            <option value="1">Compreensiva</option>
                            <option value="2">RCF</option>
                            <option value="3">Incêndio e roubo</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': insuranceForm.currentInsuranceBonus.$error.required && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Classe de Bônus Atual?</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="currentInsuranceBonus" data-ng-model="model.Request.Insurance.Renewal.CurrentInsuranceBonus"
                               data-ng-required="isRenewal == 'false'" number-only min="0">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': insuranceForm.claimQuantity.$error.required && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Quantos sinistros ocorreram na apólice?</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="claimQuantity" data-ng-model="model.Request.Insurance.Renewal.ClaimQuantity" data-ng-required="isRenewal == 'false'"
                               number-only min="0">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': (insuranceForm.currentInsurancePolicyDate.$error.required || insuranceForm.currentInsurancePolicyDate.$error.min
                     || insuranceForm.currentInsurancePolicyDate.$error.max) && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Data de Início da Apólice anterior</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="currentInsurancePolicyDate" data-ng-model="model.Request.Insurance.Renewal.CurrentInsurancePolicyDate" data-ng-required="isRenewal == 'false'"
                               min="{{currentInsurancePolicyDateMin}}" max="{{currentInsurancePolicyDateMax}}"
                               tooltip="A data deve ser até 365 dias anterior a data corrente ou até 45 dias de antecipação." tooltip-append-to-body="true" tooltip-trigger="focus">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': insuranceForm.currentInsurancePolicyExpirationDate.$error.required && insuranceForm.submitted}">
                    <label class="col-sm-3 control-label">Data de término da Apólice anterior</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="currentInsurancePolicyExpirationDate" data-ng-model="model.Request.Insurance.Renewal.CurrentInsurancePolicyExpirationDate"
                               data-ng-required="isRenewal == 'false'" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>