﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Segurado</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">

            <div class="form-group" data-ng-class="{'has-error': insuredForm.fullName.$error.required && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Nome do Segurado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="fullName" data-ng-model="model.Request.Insured.FullName" required ng-disabled="model.Request.MainDriver.IsInsured == 'true'"
                           tooltip="Escreva o nome completo exatamente como consta no seu documento de identificação" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': insuredForm.personTypeInsurer.$error.required && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Tipo de pessoa</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="personTypeInsurer" value="1" data-ng-model="model.Request.Insured.PersonType" data-ng-required="!model.Request.Insured.PersonType" ng-disabled="model.Request.MainDriver.IsInsured == 'true'"> Física
                    </label>
                    <label>
                        <input type="radio" name="personTypeInsurer" value="2" data-ng-model="model.Request.Insured.PersonType" data-ng-required="!model.Request.Insured.PersonType" ng-disabled="model.Request.MainDriver.IsInsured == 'true'"> Jurídica
                    </label>
                </div>
            </div>


            <div class="form-group" data-ng-class="{'has-error': (insuredForm.document.$error.required ||  insuredForm.document.$error.cpf)&& insuredForm.submitted}">
                <label class="col-sm-3 control-label">Qual o {{model.Request.Insured.PersonType == "1" ? "CPF" : "CNPJ"}}?</label>
                <div class="col-sm-6" ng-switch="model.Request.Insured.PersonType">

                    <input ng-switch-when="1" type="text" class="form-control" name="document" data-ng-model="model.Request.Insured.Document" data-ng-required="model.Request.Insured.PersonType == '1'" ui-br-cpf-mask
                           tooltip="{{insuredForm.document.$error.cpf ? 'Digite um CPF válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus" ng-disabled="model.Request.MainDriver.IsInsured == 'true'">

                    <input ng-switch-when="2" type="text" class="form-control" name="document" data-ng-model="model.Request.Insured.Document" data-ng-required="model.Request.Insured.PersonType == '2'" ui-br-cnpj-mask
                           tooltip="{{insuredForm.document.$error.cnpj ? 'Digite um CNPJ válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': insuredForm.gender.$error.required && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Sexo</label>
                <div class="col-sm-6">
                    <select class="form-control" name="gender" data-ng-model="model.Request.Insured.Gender" required ng-disabled="model.Request.MainDriver.IsInsured == 'true'">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Feminino</option>
                        <option value="2">Masculino</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (insuredForm.birthDate.$error.required || insuredForm.birthDate.$error.date) && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Data de nascimento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthDate" data-ng-model="model.Request.Insured.BirthDate" required ng-disabled="model.Request.MainDriver.IsInsured == 'true'"
                           tooltip="{{insuredForm.birthDate.$error.date ? 'Digite uma data válida' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': insuredForm.maritalStatus.$error.required && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Estado Civil</label>
                <div class="col-sm-6">
                    <select class="form-control" name="maritalStatus" data-ng-model="model.Request.Insured.MaritalStatus" required ng-disabled="model.Request.MainDriver.IsInsured == 'true'">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Solteiro(a)</option>
                        <option value="2">Casado(a)</option>
                        <option value="3">Divorciado(a)</option>
                        <option value="4">Viúvo(a)</option>
                        <option value="5">Separado(a)</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (insuredForm.zipCode.$error.required || insuredForm.zipCode.$error.cep )&& insuredForm.submitted}">
                <label class="col-sm-3 control-label">Informe o CEP de Residência</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="zipCode" data-ng-model="model.Request.Insured.ZipCode" required ui-br-cep-mask ng-disabled="model.Request.MainDriver.IsInsured == 'true'"
                           tooltip="{{vehicleForm.zipCode.$error.cep ? 'Digite um CEP válido.' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (insuredForm.workActivityId.$error.required) && insuredForm.submitted}">
                <label class="col-sm-3 control-label">Qual Atividade de trabalho Exerce o Segurado?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="workActivityId" data-ng-model="model.Request.Insured.WorkActivityId" required ng-disabled="model.Request.MainDriver.IsInsured == 'true'"
                            ng-options="item.workActivityId as item.name for item in workActivities">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>