﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Condutor principal</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">
            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.isInsured.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">O Condutor Principal é o Próprio segurado?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isInsured" value="true" data-ng-model="model.Request.MainDriver.IsInsured" data-ng-required="!model.Request.MainDriver.IsInsured"> Sim
                    </label>
                    <label>
                        <input type="radio" name="isInsured" value="false" data-ng-model="model.Request.MainDriver.IsInsured" data-ng-required="!model.Request.MainDriver.IsInsured"> Não
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.isVehicleOwner.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">O Condutor Principal é Proprietário do veículo?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isVehicleOwner" value="true" data-ng-model="model.Request.MainDriver.IsVehicleOwner" data-ng-required="!model.Request.MainDriver.IsVehicleOwner"> Sim
                    </label>
                    <label>
                        <input type="radio" name="isVehicleOwner" value="false" data-ng-model="model.Request.MainDriver.IsVehicleOwner" data-ng-required="!model.Request.MainDriver.IsVehicleOwner"> Não
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.fullName.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Nome do Condutor Principal</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="fullName" data-ng-model="model.Request.MainDriver.FullName" required
                           tooltip="Escreva o nome completo exatamente como consta no seu documento de identificação" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.document.$error.required ||  mainDriverForm.document.$error.cpf)&& mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">CPF do Condutor Principal</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="document" data-ng-model="model.Request.MainDriver.Document" required ui-br-cpf-mask
                           tooltip="{{mainDriverForm.document.$error.cpf ? 'Digite um CPF válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Telefone de Contado</label>
                <div class="col-sm-3" data-ng-class="{'has-error': (mainDriverForm.mobilePhoneNumber.$error.required || mainDriverForm.mobilePhoneNumber.$error['br-phone-number']) && mainDriverForm.submitted}">
                    <input type="text" class="form-control" placeholder="Celular" name="mobilePhoneNumber" data-ng-model="model.Request.MainDriver.MobilePhoneNumber" ui-br-phone-number ng-required="!model.Request.MainDriver.MobilePhoneNumber && !model.Request.MainDriver.PhoneNumber">
                </div>
                <div class="col-sm-3" data-ng-class="{'has-error': (mainDriverForm.phoneNumber.$error.required || mainDriverForm.phoneNumber.$error['br-phone-number']) && mainDriverForm.submitted}">
                    <input type="text" class="form-control" placeholder="Fixo" name="phoneNumber" data-ng-model="model.Request.MainDriver.PhoneNumber" ui-br-phone-number>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.email.$error.email)&& mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">E-mail (opcional)</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="email" data-ng-model="model.Request.MainDriver.Email"
                           tooltip="{{mainDriverForm.email.$error.email ? 'Digite um email válido' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.gender.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Qual é o sexo?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="gender" data-ng-model="model.Request.MainDriver.Gender" required>
                        <option value="">Selecione uma opção</option>
                        <option value="1">Feminino</option>
                        <option value="2">Masculino</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.birthDate.$error.required || mainDriverForm.birthDate.$error.date) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Data de Nascimento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="birthDate" data-ng-model="model.Request.MainDriver.BirthDate" required
                           tooltip="{{mainDriverForm.birthDate.$error.date ? 'Digite uma data válida' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.maritalStatus.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Estado Civil do Condutor Principal</label>
                <div class="col-sm-6">
                    <select class="form-control" name="maritalStatus" data-ng-model="model.Request.MainDriver.MaritalStatus" required>
                        <option value="">Selecione uma opção</option>
                        <option value="1">Solteiro(a)</option>
                        <option value="2">Casado(a)</option>
                        <option value="3">Divorciado(a)</option>
                        <option value="4">Viúvo(a)</option>
                        <option value="5">Separado(a)</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.zipCode.$error.required || mainDriverForm.zipCode.$error.cep )&& mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">CEP Residencial</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="zipCode" data-ng-model="model.Request.MainDriver.ZipCode" required ui-br-cep-mask
                           tooltip="{{vehicleForm.zipCode.$error.cep ? 'Digite um CEP válido.' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.driverLicenseYears.$error.required) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Informe o tempo da Habilitação</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="driverLicenseYears" data-ng-model="model.Request.MainDriver.DriverLicenseYears" required number-only>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Nº de Registro da Carteira da Habilitação (opcional)</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="driverLicenseNumber" data-ng-model="model.Request.MainDriver.DriverLicenseNumber" number-only min="0">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.workActivityId.$error.required) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Qual Atividade exerce o condutor principal?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="workActivityId" data-ng-model="model.Request.MainDriver.WorkActivityId" required
                            ng-options="item.workActivityId as item.name for item in workActivities">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.schooling.$error.required) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Qual a escolaridade?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="schooling" data-ng-model="model.Request.MainDriver.Schooling" required>
                        <option value="">Selecione uma opção</option>
                        <option value="1">Pós-Graduação</option>
                        <option value="2">Superior</option>
                        <option value="3">Técnico</option>
                        <option value="4">Médio(2º Grau)</option>
                        <option value="5">Fundamental Completo</option>
                        <option value="6">Fundamental Incompleto</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.relationshipWithInsured.$error.required) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Qual a relação com o segurado?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="relationshipWithInsured" data-ng-model="model.Request.MainDriver.RelationshipWithInsured" required>
                        <option value="">Selecione uma opção</option>
                        <option value="1">Filho/Enteado</option>
                        <option value="2">Cônjuge</option>
                        <option value="3">Pai/Mãe</option>
                        <option value="4">Motorista Particular</option>
                        <option value="5">Empregado/Funcionário</option>
                        <option value="6">Empregador</option>
                        <option value="7">Sócio</option>
                        <option value="8">Próprio</option>
                        <option value="9">Outros</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': mainDriverForm.hasBeenStolenInTheLast24Months.$error.required && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Foi vítima de furto ou roubo de veículo nos últimos 2 anos?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="hasBeenStolenInTheLast24Months" value="true" data-ng-model="model.Request.MainDriver.HasBeenStolenInTheLast24Months" data-ng-required="!model.Request.MainDriver.HasBeenStolenInTheLast24Months"> Sim
                    </label>
                    <label>
                        <input type="radio" name="hasBeenStolenInTheLast24Months" value="false" data-ng-model="model.Request.MainDriver.HasBeenStolenInTheLast24Months" data-ng-required="!model.Request.MainDriver.HasBeenStolenInTheLast24Months"> Não
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (mainDriverForm.residentialType.$error.required) && mainDriverForm.submitted}">
                <label class="col-sm-3 control-label">Informe o Tipo de Residência onde fica o Veículo</label>
                <div class="col-sm-6">
                    <select class="form-control" name="residentialType" data-ng-model="model.Request.MainDriver.ResidentialType" required>
                        <option value="">Selecione uma opção</option>
                        <option value="1">Casa</option>
                        <option value="2">Condomínio Fechado</option>
                        <option value="3">Apartamento</option>
                        <option value="4">Outros</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 sr-only">
                    Possui residentes menores do que 25 anos (inclusive) que NÃO conduzirão o veículo?
                </label>
                <div class="col-sm-6 col-sm-offset-3">
                    <div>
                        <label>
                            Possui residentes menores do que 25 anos (inclusive) que NÃO conduzirão o veículo?
                            <i class="glyphicon glyphicon-question-sign" tooltip="Para a Tokio Marine e HDI serão considerados apenas os residentes entre 17 e 25 anos(incluve)." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                        </label>
                    </div>

                    <div>
                        <button type="button" class="btn btn-info" data-ng-click="openModalDependent()">
                            <span class="glyphicon glyphicon-plus"></span> ADICIONAR UM DEPENDENTE
                        </button>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Idade</th>
                                    <th>Sexo</th>
                                    <th>Mora com o condutor principal?</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in model.Request.MainDriver.DependentList">
                                    <td>{{item.Age}}</td>
                                    <td>{{item.Gender == "1" ? "Feminino" : "Masculino"}}</td>
                                    <td data-ng-bind-html="item.LivesWithMainDriver | checkmark"></td>
                                    <td>
                                        <i class="glyphicon glyphicon-pencil" title="Editar" data-ng-click="openModalDependent(item)"></i>
                                        <i class="glyphicon glyphicon-trash" title="Remover" data-ng-click="removeDependent(item)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Condutores adicionais</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">
            Outras pessoas que dirigem o veículo regularmente ou eventualmente como filhos, enteados, cônjuge, namorados, pais, irmãos, entre outros.
            <button type="button" class="btn btn-info" data-ng-click="openModalAdditionalDriver()">
                <span class="glyphicon glyphicon-plus"></span> ADICIONAR UM CONDUTOR
            </button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Data de Nasc.</th>
                        <th>Mora com o condutor principal?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in model.Request.AdditionalDriverList">
                        <td>{{item.FullName}}</td>
                        <td>{{item.Gender == "1" ? "Feminino" : "Masculino"}}</td>
                        <td>{{item.BirthDate | date}}</td>
                        <td data-ng-bind-html="item.LivesWithMainDriver | checkmark"></td>
                        <td>
                            <i class="glyphicon glyphicon-pencil" title="Editar" data-ng-click="openModalAdditionalDriver(item)"></i>
                            <i class="glyphicon glyphicon-trash" title="Remover" data-ng-click="removeAdditionalDriver(item)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
