﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Veículo</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">
            <div class="form-group" data-ng-class="{'has-error': vehicleForm.brand.$error.required && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual a marca do seu veículo?</label>
                <div class="col-sm-7">
                    <ui-select name="brand" ng-model="selected.Brand" reset-search-input="true" ng-required="true">
                        <ui-select-match placeholder="Selecione um modelo">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in manufacturers | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.manufacturingYear.$error.required && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual o ano de fabricação do seu veículo?</label>
                <div class="col-sm-7">
                    <ui-select name="manufacturingYear" ng-model="selected.ManufacturingYear" reset-search-input="true" ng-disabled="!selected.Brand" ng-required="true">
                        <ui-select-match placeholder="Selecione um ano">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in manufacturingYears | filter: $select.search">
                            <div ng-bind-html="item | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.modelYear.$error.required && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual o ano modelo do seu veículo?</label>
                <div class="col-sm-7">
                    <select name="modelYear" class="form-control" data-ng-model="model.Request.VehicleInfo.ModelYear" ng-disabled="!selected.ManufacturingYear" required>
                        <option value="">Selecione um ano</option>
                        <option value="{{selected.ManufacturingYear}}">{{selected.ManufacturingYear}}</option>
                        <option value="{{selected.ManufacturingYear + 1}}">{{selected.ManufacturingYear + 1}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.model.$error.required && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual o modelo do seu veículo?</label>
                <div class="col-sm-7">
                    <ui-select name="model" ng-model="selected.Vehicle" reset-search-input="true" ng-disabled="!model.Request.VehicleInfo.ModelYear" ng-required="true">
                        <ui-select-match placeholder="Selecione um modelo">{{$select.selected.model}}</ui-select-match>
                        <ui-select-choices repeat="item in vehicles | filter: $select.search">
                            <div ng-bind-html="item.model | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-3 control-label">Fipe</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="fipe" disabled="disabled" data-ng-model="model.Request.VehicleInfo.FipeCode">
                    <a href="http://www2.fipe.org.br/pt-br/indices/veiculos/" target="_blank">Tabela FIPE</a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Combustível</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="combustivel" disabled="disabled" data-ng-model="model.Request.VehicleInfo.Fuel">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" data-ng-show="selected.Vehicle">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Sobre o {{model.Request.VehicleInfo.Model}}</div>
    <div class="panel-body">
        <div class="col-sm-12 col-md-6" data-ng-show="model.Request.VehicleInfo.Model">
            <div class="form-group" data-ng-class="{'has-error': vehicleForm.isNew.$error.required && vehicleForm.submitted}" data-ng-show="vehicleZero">
                <label class="col-sm-6 control-label">O Veículo é 0km?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isNew" value="true" data-ng-model="model.Request.VehicleInfo.IsNew" data-ng-required="!model.Request.VehicleInfo.IsNew"> Sim
                    </label>
                    <label>
                        <input type="radio" name="isNew" value="false" data-ng-model="model.Request.VehicleInfo.IsNew" data-ng-required="!model.Request.VehicleInfo.IsNew"> Não
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">Digite a Placa (opcional)</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="plateNumber" data-ng-model="model.Request.VehicleInfo.License.PlateNumber" ui-mask="AAA-9999" capitalize>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-question-sign" tooltip="É necessário informar a placa do veículo para cálculo da seguradora Bradesco e a validação do preço das seguradoras Tokio Marine." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6 control-label">Digite o Chassi (opcional)</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="chassisNumber" data-ng-model="model.Request.VehicleInfo.License.ChassisNumber" maxlength="17">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-question-sign" tooltip="É necessário informar a placa do veículo para cálculo da seguradora Bradesco e a validação do preço das seguradoras Tokio Marine." tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.isFinanced.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">
                    O veículo é Financiado?
                </label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isFinanced" value="true" data-ng-model="model.Request.VehicleInfo.Value.IsFinanced" data-ng-required="!model.Request.VehicleInfo.Value.IsFinanced"> Sim
                    </label>
                    <label>
                        <input type="radio" name="isFinanced" value="false" data-ng-model="model.Request.VehicleInfo.Value.IsFinanced" data-ng-required="!model.Request.VehicleInfo.Value.IsFinanced"> Não
                    </label>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.hasNaturalGasKit.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Possui Kit de gás natural?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="hasNaturalGasKit" value="true" data-ng-model="model.Request.VehicleInfo.HasNaturalGasKit" data-ng-required="!model.Request.VehicleInfo.HasNaturalGasKit"> Sim
                    </label>
                    <label>
                        <input type="radio" name="hasNaturalGasKit" value="false" data-ng-model="model.Request.VehicleInfo.HasNaturalGasKit" data-ng-required="!model.Request.VehicleInfo.HasNaturalGasKit"> Não
                    </label>
                </div>
            </div>

            <!--VALOR KIT GAS SE POSSUIR-->
            <div class="form-group" data-ng-show="model.Request.VehicleInfo.HasNaturalGasKit == 'true'"
                 data-ng-class="{'has-error': (vehicleForm.naturalGasKitCoverage.$error.required || vehicleForm.naturalGasKitCoverage.$error.max) && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Valor do kit gás</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="naturalGasKitCoverage" data-ng-model="model.Request.VehicleInfo.NaturalGasKitCoverage"
                           data-ng-required="model.Request.VehicleInfo.HasNaturalGasKit == 'true'" ui-money-mask max="99999999"
                           tooltip="O valo máximo é de R$9.999.999,99" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>
            <!--FIM VALOR KIT GAS SE POSSUIR-->

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.isArmored.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Possui Blindagem?</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="isArmored" value="true" data-ng-model="model.Request.VehicleInfo.IsArmored" data-ng-required="!model.Request.VehicleInfo.IsArmored"> Sim
                    </label>
                    <label>
                        <input type="radio" name="isArmored" value="false" data-ng-model="model.Request.VehicleInfo.IsArmored" data-ng-required="!model.Request.VehicleInfo.IsArmored"> Não
                    </label>
                </div>
            </div>

            <!--VALOR KIT BLINDAGEM SE POSSUIR-->
            <div class="form-group" data-ng-show="model.Request.VehicleInfo.IsArmored == 'true'"
                 data-ng-class="{'has-error': (vehicleForm.armoryCoverage.$error.required || vehicleForm.armoryCoverage.$error.max) && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Valor do kit gás</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="armoryCoverage" data-ng-model="model.Request.VehicleInfo.ArmoryCoverage"
                           data-ng-required="model.Request.VehicleInfo.IsArmored == 'true'" ui-money-mask max="99999999"
                           tooltip="O valo máximo é de R$9.999.999,99" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>
            <!--FIM VALOR KIT BLINDAGEM SE POSSUIR-->

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.valueCategory.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Informe o Tipo de cobertura para o veículo</label>
                <div class="radio col-sm-6">
                    <label>
                        <input type="radio" name="valueCategory" value="1" data-ng-model="model.Request.VehicleInfo.Value.ValueCategory" data-ng-required="!model.Request.VehicleInfo.Value.ValueCategory"> Referenciado
                    </label>
                    <label>
                        <input type="radio" name="valueCategory" value="2" data-ng-model="model.Request.VehicleInfo.Value.ValueCategory" data-ng-required="!model.Request.VehicleInfo.Value.ValueCategory"> Determinado
                    </label>
                </div>
            </div>

            <!--VALOR REFERENCIADO-->
            <div class="form-group" data-ng-show="model.Request.VehicleInfo.Value.ValueCategory == 1" data-ng-class="{'has-error': vehicleForm.referencedPercentage.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Ajuste (%)</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="referencedPercentage" data-ng-model="model.Request.VehicleInfo.Value.ReferencedPercentage"
                           data-ng-required="model.Request.VehicleInfo.Value.ValueCategory == 1" ui-percentage-mask>
                </div>
            </div>
            <!--FIM VALOR REFERENCIADO-->

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.determinedValue.$error.required && vehicleForm.submitted}" ng-hide="model.Request.VehicleInfo.Value.ValueCategory == 1">
                <label class="col-sm-6 control-label">Valor Determinado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="determinedValue" ui-money-mask data-ng-model="model.Request.VehicleInfo.Value.DeterminedValue"
                           data-ng-required="model.Request.VehicleInfo.Value.ValueCategory == 2">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': vehicleForm.referencedValue.$error.required && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">Valor Referenciado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="referencedValue" disabled data-ng-model="model.Request.VehicleInfo.Value.ReferencedValue" ui-money-mask>
                    <a href="http://www2.fipe.org.br/pt-br/indices/veiculos/" target="_blank">Tabela FIPE</a>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleForm.devicesIgnitionBlocker.$error.required
                 || vehicleForm.devicesTracker.$error.required)
                 && vehicleForm.submitted}">
                <label class="col-sm-6 control-label">O veículo possui algum desses dispositivos de segurança? (opcional)</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="model.Request.VehicleInfo.DevicesAlarm"> Alarme Sonoro
                        </label>
                    </div>
                </div>

                <label class="col-sm-6 control-label sr-only">Bloqueador de Ignição</label>
                <div class=" col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="hasDevicesIgnitionBlocker"> Bloqueador de Ignição
                        </label>
                    </div>
                    <div class="child-form" data-ng-show="hasDevicesIgnitionBlocker">
                        <!--ng-model="model.Request.VehicleInfo.DevicesIgnitionBlocker"-->
                        <select multiple="multiple" class="form-control" name="devicesIgnitionBlocker" data-ng-required="hasDevicesIgnitionBlocker"
                                ng-model="model.Request.VehicleInfo.devicesIgnitionBlocker" ng-options="model.ignitionBlockerId as model.name for model in devicesIgnitionBlockers" jq-select2></select>
                    </div>
                </div>

                <label class="col-sm-6 control-label sr-only">Dispositivo Rastreador</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="hasDevicesTracker"> Dispositivo Rastreador
                        </label>
                        <div class="child-form" data-ng-show="hasDevicesTracker">
                            <!--ng-model="model.Request.VehicleInfo.DevicesTracker"-->
                            <select multiple="multiple" class="form-control" name="devicesTracker" data-ng-required="hasDevicesTracker"
                                    ng-model="model.Request.VehicleInfo.devicesTracker" ng-options="model.deviceTrackerId as model.name for model in devicesTrackers" jq-select2></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" data-ng-show="selected.Vehicle">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Uso do {{model.Request.VehicleInfo.Model}}</div>
    <div class="panel-body">
        <div class="col-xs-12 col-md-12">

            <div class="form-group" data-ng-class="{'has-error': (vehicleForm.overnightZipCode.$error.required || vehicleForm.overnightZipCode.$error.cep) && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual o CEP de Pernoite?</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="overnightZipCode" data-ng-model="model.Request.VehicleUse.OvernightZipCode" required ui-br-cep-mask
                           tooltip="{{vehicleForm.overnightZipCode.$error.cep ? 'Digite um CEP válido.' : ''}}" tooltip-trigger="focus" tooltip-append-to-body="true">
                </div>
                <div class="col-sm-3 child-form">
                    <input type="checkbox" value="1" data-ng-click="toggleGarage($event)"> Possui garagem na residencia
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleForm.zipCode.$error.required || vehicleForm.zipCode.$error.cep) && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Qual o CEP de Circulação?</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="zipCode" data-ng-model="model.Request.VehicleUse.MovementZipCode" required ui-br-cep-mask
                           tooltip="{{vehicleForm.zipCode.$error.cep ? 'Digite um CEP válido.' : ''}}" tooltip-trigger="focus" tooltip-append-to-body="true">
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleForm.goToWork.$error.required) && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Informe a Utilização do Veículo</label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="goToWork" data-ng-model="goToWork" data-ng-click="toggleUseType($event)" value="1"
                                   data-ng-required="model.Request.VehicleUse.UseType == 0"> Ida e volta do trabalho
                        </label>
                    </div>
                    <div class="child-form" data-ng-show="goToWork">
                        <input type="checkbox" name="hasGarageSchool" value="2" data-ng-click="toggleGarage($event)"> Possui garagem no trabalho
                    </div>
                </div>

                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="goToSchool" data-ng-click="toggleUseType($event)" value="2"> Ida e volta da escola/faculdade
                        </label>
                    </div>
                    <div class="child-form" data-ng-show="goToSchool">
                        <input type="checkbox" name="hasGarageSchool" value="4" data-ng-click="toggleGarage($event)"> Possui garagem na escola/faculdade
                    </div>
                </div>

                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="hasComercialUse" data-ng-click="toggleUseType($event)" value="4"> Atividade comercial
                        </label>
                    </div>

                    <div class="child-form" data-ng-show="hasComercialUse" data-ng-class="{'has-error': vehicleForm.commercialUseType.$error.required && vehicleForm.submitted}">
                        <div class="child-item">
                            Tipo de utilização comercial:
                            <select name="commercialUseType" class="form-control" data-ng-model="model.Request.VehicleUse.CommercialUseType" data-ng-required="hasComercialUse">
                                <option value="">Selecione uma opção</option>
                                <option value="1">Visita a clientes e fornecedores</option>
                                <option value="2">Entregas, representação comercial</option>
                            </select>
                        </div>
                        <div class="child-item" data-ng-class="{'has-error': vehicleForm.commercialPeriodUse.$error.required && vehicleForm.submitted}">
                            Período de uso:
                            <select name="commercialPeriodUse" class="form-control" data-ng-model="model.Request.VehicleUse.CommercialUsePeriod" data-ng-required="hasComercialUse">
                                <option value="">Selecione uma opção</option>
                                <option value="1">Diurno</option>
                                <option value="2">Noturno</option>
                                <option value="3">Indeterminado</option>
                            </select>
                        </div>
                    </div>
                </div>

                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="hasLeisure" data-ng-click="toggleUseType($event)" value="8"> Lazer
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" data-ng-class="{'has-error': (vehicleForm.dailyDistance.$error.required || vehicleForm.dailyDistance.$error.max || vehicleForm.dailyDistance.$error.min) && vehicleForm.submitted}">
                <label class="col-sm-3 control-label">Quantos quilômetros o veículo Circula por dia?</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="dailyDistance" data-ng-model="model.Request.VehicleUse.DailyDistance" required min="1" max="999" number-only
                           tooltip="{{vehicleForm.dailyDistance.$error.min || vehicleForm.dailyDistance.$error.max ? 'Deve ser menor que 999 e maior que 0' : ''}}" tooltip-append-to-body="true" tooltip-trigger="focus">
                </div>
            </div>
        </div>
    </div>
</div>
