﻿
<div class="panel panel-success">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-list-stats"></i> Filtros
    </div>
    <div class="panel-body">
        <form>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="disabledTextInput">Data inicial:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{query.startDate | date:'medium'}}" d disable disabled="disabled"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="query.startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="disabledTextInput">Data final:</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" value="{{query.endDate | date:'medium'}}" d disable d disabled="disabled"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="query.endDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success pull-right" ng-click="generateReport()">Exibir relatório</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-success" ng-if="report">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-list-stats"></i> Relatório sintético de cotações por usuário
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <h3>Utilização com sucesso por usuário</h3>

            <canvas class="chart chart-pie" data="successData" legend="true" options="{ responsive: true }"
                    labels="successLabels"></canvas>
        </div>

        <div class="col-md-6">
            <h3>Utilização com restrição por usuário</h3>

            <canvas class="chart chart-pie" data="errorData" legend="true" options="{ responsive: true }"
                    labels="errorLabels"></canvas>
        </div>

        <hr />

        <div class="col-md-12">
            <h3>Relatório de cotações de automóvel com sucesso por usuário</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Usúario</th>
                        <th ng-repeat="item in report.success[0].quotations">{{item.insurerDisplay}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in report.success">
                        <td>{{item.userName}}</td>
                        <td ng-repeat="insurer in item.quotations">{{insurer.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h3>Relatório de cotações de automóvel com restrição por usuário</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Usúario</th>
                        <th ng-repeat="item in report.error[0].quotations">{{item.insurerDisplay}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in report.error">
                        <td>{{item.userName}}</td>
                        <td ng-repeat="insurer in item.quotations">{{insurer.count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
