﻿@brand-primary: #0094D4;
@brand-success: #00A859;
@brand-info: #262899;
@brand-warning: #FFCC29;
@brand-danger: #ED2128;
@brand-orange: #FA7A1E;

/* navbar */
.navbar-primary {
    background-color: @brand-primary;
    border-color: #E7E7E7;
}
/* title */
.navbar-primary .navbar-brand {
    color: #777;
    background-color: #FFFFFF;
}

.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-primary .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #0A84B8;
}

.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #0A84B8;
}
/* caret */
.navbar-primary .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-primary .navbar-nav > .dropdown > a:hover .caret,
.navbar-primary .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-primary .navbar-nav > .open > a .caret,
.navbar-primary .navbar-nav > .open > a:hover .caret,
.navbar-primary .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-primary .navbar-toggle {
    border-color: #DDD;
}

.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* navbar warning*/
.navbar-warning {
    background-color: @brand-warning;
    border-color: #E7E7E7;
}
/* title */
.navbar-warning .navbar-brand {
    background-color: #FFFFFF;
}

/* link */
.navbar-warning .navbar-nav > li > a {
    color: #716464;
}

.navbar-warning .navbar-nav > li > a:hover,
.navbar-warning .navbar-nav > li > a:focus {
    color: #716464;
}

.navbar-warning .navbar-nav > .active > a,
.navbar-warning .navbar-nav > .active > a:hover,
.navbar-warning .navbar-nav > .active > a:focus {
    color: #716464;
    background-color: #E8B81F;
}

.navbar-warning .dropdown-menu > .active > a,
.navbar-warning .dropdown-menu > .active > a:focus,
.navbar-warning .dropdown-menu > .active > a:hover {
    background-color: @brand-warning;
    color: #716464;
}

.navbar-warning .navbar-nav > .open > a,
.navbar-warning .navbar-nav > .open > a:hover,
.navbar-warning .navbar-nav > .open > a:focus {
    color: #716464;
    background-color: #E8B81F;
}
/* caret */
.navbar-warning .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-warning .navbar-nav > .dropdown > a:hover .caret,
.navbar-warning .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-warning .navbar-nav > .open > a .caret,
.navbar-warning .navbar-nav > .open > a:hover .caret,
.navbar-warning .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-warning .navbar-toggle {
    border-color: #DDD;
}

.navbar-warning .navbar-toggle:hover,
.navbar-warning .navbar-toggle:focus {
    background-color: #716464;
}

.navbar-warning .navbar-toggle .icon-bar {
    background-color: #000000;
}

@media (max-width: 767px) {
    .navbar-warning .navbar-nav .open .dropdown-menu > li > a {
        color: #716464;
    }

    .navbar-warning .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-warning .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.has-error {
    background-color: #EDB7B7;
}

#footer {
    border-top: 1px solid #eeeeee;
}

#logo {
    margin: -8px 0px 0px;
}

.metro .tile {
    width: 120px;
    height: 120px;
    margin: 0 10px 10px 0;
}

.metro .tile {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
    cursor: pointer;
    box-shadow: inset 0 0 1px #ffc;
}

.metro .tile .tile-content:first-child {
    display: block;
}

.metro .tile .tile-content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.metro .tile .tile-content {
    display: none;
}

.metro .tile .tile-content.icon [class*="icon-"], .metro .tile .tile-content.icon img {
    line-height: 56px;
    height: 56px;
    width: 56px;
    font-size: 48px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -28px;
    margin-left: -28px;
}

.metro .tile .brand, .metro .tile .tile-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 29px;
    margin: 0;
}

.metro .tile .brand .name, .metro .tile .tile-status .name, .metro .tile .brand .label, .metro .tile .tile-status .label, .metro .tile .brand .text, .metro .tile .tile-status .text {
    display: block;
    font-size: 10pt;
    margin: 5px 20px 2px 5px;
    background: transparent;
    color: #fff;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.invalid {
    color: red;
}

.tab-pane {
    padding-top: 35px;
}

.orange {
    color: @brand-orange;
}

.yellow {
    color: @brand-warning;
}

.red {
    color: @brand-danger;
}

.green {
    color: @brand-success;
}

.light-blue {
    color: @brand-primary;
}

.dark-blue {
    color: @brand-info;
}

.bg-orange {
    background-color: @brand-orange;
}

.bg-yellow {
    background-color: @brand-warning;
}

.bg-red {
    background-color: @brand-danger;
}

.bg-green {
    background-color: @brand-success;
}

.bg-light-blue {
    background-color: @brand-primary;
}

.bg-dark-blue {
    background-color: @brand-info;
}

.child-form {
    background-color: #eeeeee;
    padding: 10px;
}

.child-form.child-item {
    padding-top: 10px;
}

.table-quotation td {
    vertical-align: middle;
}

img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}
