﻿@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Auditoria";
    ViewBag.BreadDescription = "Listagem de ações no sistema";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>IP</th>
                                <th>Area</th>
                                <th>HTTP Status Code</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var table = $('.datatable').DataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
            processing: true,
            serverSide: true,
            ajax: '/Audits/LoadTable',
            "columns": [
               { "data": "UserName" },
               { "data": "IPAddress" },
               { "data": "AreaAccessed" },
               { "data": "HttpStatusCode" }],
            "columnDefs": [{
                "targets": 4,
                "render": function (data, type, row) {
                    return "<span title='" + moment(row.Timestamp).format("LLL") + "'>" + moment(row.Timestamp).fromNow() + "</span>";
                }
            }],
            "fnInitComplete": function (oSettings, json) {
                oSettings.oInstance.fnSetFilteringDelay();
            }
        });

        // Add event listener for opening and closing details
        $('.datatable tbody').on('click', 'tr', function () {
            var tr = $(this);
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(row.data().Data).show();
                tr.addClass('shown');
            }
        });

    </script>
}