﻿<form name="form" novalidate class="form-horizontal">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-alt"></i> Editando {{ ::model.name }}
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <div class="form-group" data-ng-class="{'has-error': form.name.$error.required && form.submitted}">
                    <label class="col-sm-3 control-label">Nome</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="name" data-ng-model="model.name"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" name="email" data-ng-model="model.email" disabled="disabled">
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error': form.roles.$error.required && form.submitted}">
                    <label class="col-sm-3 control-label">Permissão</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="roles" ng-model="model.role" ng-options="item.id as item.name | role for item in roles" disabled="disabled">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success pull-right" data-ng-click="save()">Salvar</button>
        </div>
    </div>
</form>