﻿<div class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-th"></i> Resultado da cotação | Identificador: {{ quotationId }}</div>
    <div class="panel-body">

        <div class="col-md-12">
            <!-- Single button -->
            <div class="btn- pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ações <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="openEmail()">Enviar email</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <table class="table table-striped table-quotation">
                <thead>
                    <tr>
                        <th></th>
                        <th>Seguradora</th>
                        <th>Prêmio</th>
                        <th>Franquia</th>
                        <th>Tipo da Franquia</th>
                        <th>Coberturas e serviços</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in quotations">
                        <th>
                            <input type="checkbox" checklist-model="selectedResponse" checklist-value="item"/>
                        </th>
                        <td>
                            <img alt="{{item.insurer}}" title="{{item.insurer}}" ng-src="/assets/img/seguradoras/{{item.insurer}}.png">
                        </td>
                        <td>
                            <div data-ng-show="item.status == 'Success'">
                                {{item.premiumValue | currency}}
                            </div>
                        </td>
                        <td>
                            <div data-ng-show="item.status == 'Success'">
                                {{item.deductibleValue | currency}}
                            </div>
                        </td>
                        <td>
                            <div data-ng-show="item.status == 'Success'">
                                {{item.deductibleType | deductibleType}}
                            </div>
                        </td>
                        <td>
                            <div data-ng-show="item.status == 'Enqueued'">
                                Aguarde enquanto processamos a sua cotação. <img src="/assets/img/loader.gif" />
                            </div>

                            <div data-ng-show="item.status == 'Failure'">
                                <p>
                                    Houve algum erro para processar a cotação. <i class="glyphicon glyphicon-remove-circle" style="color: red;"></i>
                                </p>
                                <p>{{item.operationDescription}}</p>
                            </div>

                            <div data-ng-show="item.status == 'Success'">
                                <p><strong>Número do Orçamento:</strong> {{item.insurerBudgetCode}}</p>
                                <p><strong>Danos materiais:</strong> {{item.materialDamages | currency}}</p>
                                <p><strong>Danos corporais:</strong> {{item.bodyDamages | currency}}</p>
                                <p><strong>Danos morais:</strong> {{item.moralDamages | currency}}</p>
                                <p><strong>APP:</strong> {{item.personalAccidentPassenger | currency}}</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="send-email.html">
    <div class="modal-header">
        <h3 class="modal-title">Enviar email</h3>
    </div>
    <div class="modal-body">
        <div class="form-group col-md-12">
            <label for="name" class="control-label">Email</label>
            <input type="email" class="form-control" name="email" ng-model="model.email" required />
        </div>

        <ul class="list-inline">
            <li ng-repeat="item in selectedResponse">
                <img alt="{{item.insurer}}" title="{{item.insurer}}" ng-src="/assets/img/seguradoras/{{item.insurer}}.png">
                {{item.deductibleType | deductibleType}}
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closeEmail()">Cancelar</button>
        <button class="btn btn-success" ng-click="sendEmail()">Enviar</button>
    </div>
</script>