﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="AlvacApp">
<head>
    <base href="/">
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css?3" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href="assets/dist/combined.css" rel="stylesheet" />
    <link rel="SHORTCUT ICON" href="assets/img/favicon.ico" />

    <style type="text/css">
        body { padding-top: 70px; }
    </style>
</head>
<body data-ng-controller="initCtrl">

    <div id="main" class="clear-top">
        <ng-include src="'app/components/navbar/navbarView.html'" data-ng-show="authentication.isAuth"></ng-include>

        <div class="container">
            <div autoscroll="true" data-ng-view=""></div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="col-sm-offset-2 col-sm-8">
                <br />
                <img src="assets/img/relogio_quadrado.png" width="50" class="pull-left" style="padding: 10px;" />
                <small><strong>© 2015 - Alvac Sistemas Ltda.</strong></small>
                <br />
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <small>Rua Desembargador Jorge Fontana, 80, SL 301 - CEP: 30320-670 - Belvedere - Belo Horizonte - MG</small><br>
                <small><i class="icon-phone"></i> (31) 3299-5111 <i class="icon-mail"></i> <a href="mailto:Alvac@Alvac.com.br">Alvac@Alvac.com.br</a> <i class="icon-compass"></i> <a href="http://www.Alvac.com.br">www.Alvac.com.br</a></small>
            </div>
        </div>
    </footer>

    <toaster-container />

    <script src="//code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script src="//code.angularjs.org/1.3.14/angular.min.js" type="text/javascript"></script>
    <script src="//code.angularjs.org/1.3.14/angular-route.min.js" type="text/javascript"></script>
    <script src="//code.angularjs.org/1.3.14/angular-animate.min.js" type="text/javascript"></script>
    <script src="//code.angularjs.org/1.3.14/angular-sanitize.min.js" type="text/javascript"></script>

    <script src="assets/dist/external.js"></script>

    <script src="assets/js/site.js" type="text/javascript"></script>
    <script src="assets/dist/app.js?3" type="text/javascript"></script>
    <script src="assets/dist/components.js?3" type="text/javascript"></script>

    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
    <!--
      IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
      For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
    -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
      <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
      </script>
    <![endif]-->

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "b4e6fbe8-4215-4595-9499-a1ff3f7ff0f2"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();

        moment.locale("pt-BR");
    </script>

</body>
</html>
