﻿<form novalidate class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list-alt"></i> Listagem de cotações
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 col-md-3 col-md-offset-3">
                        <input type="date" class="form-control" ng-model="filters.beginDate" />
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="date" class="form-control" ng-model="filters.endDate" />
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" placeholder="Pesquisar" aria-describedby="sizing-addon1" ng-model="filters.text" ng-model-options="{ debounce: 1000 }">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <table class="table table-striped" style="margin-top: 15px;">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome do segurado</th>
                        <th>CPF/CNPJ</th>
                        <th>Seguradoras</th>
                        <th master-only="show">Usuário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lastQuotations" ng-click="goToDetails(item.quotationId)">
                        <td>{{item.requestDateTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>
                            {{item.fullName}}
                        </td>
                        <td>{{item.document}}</td>
                        <td>
                            <div ng-repeat="insurerQuotation in item.insurerQuotation" style="float: left; padding:2px;">
                                <img alt="{{insurerQuotation.insurer}} / {{insurerQuotation.deductibleType | deductibleType}}"
                                     title="{{insurerQuotation.insurer}} / {{insurerQuotation.deductibleType | deductibleType}}"
                                     width="35"
                                     ng-class="{desaturate: insurerQuotation.status != 'Success'}"
                                     ng-src="/assets/img/seguradoras/{{insurerQuotation.insurer}}.png">
                            </div>
                        </td>
                        <td master-only="show">{{item.userName}}</td>
                    </tr>
                </tbody>
            </table>

            <p ng-show="lastQuotations.length == 0">
                Nenhuma cotação encontrada.
            </p>

            <ul class="pager">
                <li class="previous" ng-class="{ disabled: lastQuotations.length == 0}"><a ng-click="nextPage()"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                <li class="next" ng-class="{ disabled: currentPage == 0}"><a ng-click="previousPage()">Próximo <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </div>
    </div>
</form>