﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img src="/assets/img/Alvac_logo_novo.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <form name="form" class="form-signin opacity form-horizontal" role="form" novalidate data-ng-submit="signIn()">
                <div class="form-group">
                    <label class="control-label col-md-4" for="usuario">
                        Usuário
                    </label>
                    <div class="col-md-5">
                        <input class="form-control" type="email" id="username" name="username" data-ng-model="model.userName" required placeholder="E-mail" />
                        <div ng-show="form.$submitted  || form.usuario.$touched">
                            <span ng-show="form.username.$error.required">Digite o seu usuario.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="password">
                        Senha
                    </label>
                    <div class="col-md-5">
                        <input class="form-control" type="password" id="password" name="password" data-ng-model="model.password" required placeholder="Senha" />
                        <div ng-show="form.$submitted  || form.password.$touched">
                            <span ng-show="form.password.$error.required">Digite a senha.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <button id="signIn" type="submit" class="btn btn-default pull-right">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
