﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img src="/assets/img/Alvac_logo_novo.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <form name="form" class="form-signin opacity form-horizontal" role="form" novalidate data-ng-submit="confirmEmail()">
                <div class="form-group" data-ng-class="{'has-error': (form.password.$error.required) && form.$submitted}">
                    <label class="control-label col-md-4" for="usuario">
                        Senha
                    </label>
                    <div class="col-md-5">
                        <input class="form-control" type="password" id="password" name="password" data-ng-model="model.password" required placeholder="Senha" />
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': (form.confirmpassword.$error.compareTo || form.confirmpassword.$error.required) && form.$submitted}">
                    <label class="control-label col-md-4" for="password">
                        Confirmar senha
                    </label>
                    <div class="col-md-5">
                        <input class="form-control" type="password" id="confirmpassword" name="confirmpassword" data-ng-model="model.confirmPassword" required
                               placeholder="Confirmar senha" compare-to="model.password"
                               tooltip="{{form.$submitted && form.confirmpassword.$error.compareTo ? 'A nova senha digitada não corresponde com a senha inserida no campo de confirmação de senha.' : ''}}"
                               tooltip-trigger="mouseenter" tooltip-append-to-body="true" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <button id="signIn" type="submit" class="btn btn-default pull-right">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
