﻿<!doctype html>
<html class="no-js" lang="">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, application admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->
    <title>Alvac - Web Admin Dashboard</title>
    <!-- page level plugin styles -->
    <link rel="stylesheet" href="~/plugins/chosen/chosen.min.css">
    <link rel="stylesheet" href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <!-- /page level plugin styles -->
    <!-- core styles -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- /core styles -->
    <!-- template styles -->
    <link rel="stylesheet" href="~/css/skins/palette.css">
    <link rel="stylesheet" href="~/css/fonts/font.css">
    <link rel="stylesheet" href="~/css/main.css">
    <!-- template styles -->

    <link href="~/content/toastr.min.css" rel="stylesheet" />
    <script src="~/plugins/modernizr.js"></script>
    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables/jquery.dataTables_themeroller.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />

</head>
<!-- body -->
<body>
    <div class="app">
        <!-- top header -->
        @{Html.RenderPartial("_Header");}
        <!-- /top header -->
        <section class="layout">
            <!-- sidebar menu -->
            @{Html.RenderPartial("_Sidebar");}
            <!-- /sidebar menu -->
            <!-- main content -->
            <section class="main-content">
                <!-- content wrapper -->
                <div class="content-wrap">
                    <!-- inner content wrapper -->
                    <div class="wrapper">
                        @{Html.RenderPartial("_Breadcrumb");}

                        @RenderBody()
                    </div>
                    <!-- /inner content wrapper -->
                </div>
                <!-- /content wrapper -->
                <a class="exit-offscreen"></a>
            </section>
            <!-- /main content -->
        </section>
    </div>

    <!-- core scripts -->
    <script src="~/plugins/jquery-1.11.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/plugins/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/jquery.easing.min.js"></script>
    <script src="~/plugins/appear/jquery.appear.js"></script>
    <script src="~/plugins/jquery.placeholder.js"></script>
    <script src="~/plugins/fastclick.js"></script>
    <!-- /core scripts -->
    <!-- page level scripts -->
    <script src="~/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="~/plugins/fuelux/pillbox.js"></script>
    <script src="~/plugins/fuelux/spinner.js"></script>
    <script src="~/plugins/wysiwyg/jquery.hotkeys.js"></script>
    <script src="~/plugins/switchery/switchery.js"></script>
    <script src="~/plugins/icheck/icheck.js"></script>
    <!-- /page level scripts -->
    <!-- template scripts -->
    <script src="~/js/offscreen.js"></script>
    <script src="~/js/main.js"></script>
    <!-- /template scripts -->
    <!-- page script -->
    <script src="~/js/form-custom.js"></script>
    <!-- /page script -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="~/plugins/datatables/delayFilter.js"></script>
    <script src="~/Scripts/jquery.validate.custom.pt-br.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        moment.locale("pt-BR");
    </script>

    @Html.Partial("_Toastr")

    @RenderSection("scripts", false)

    <div id="modal">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        // block when ajax activity starts
        $(document).ajaxStart(function () {
            $.blockUI({
                message: '<img src="/img/loader.gif" /> Aguarde um momento...',
                baseZ: 2000
            });
        });

        // unblock when ajax activity stops
        $(document).ajaxStop(function () {
            $.unblockUI();
        });
    </script>

</body>
<!-- /body -->
</html>
