﻿<aside class="sidebar offscreen-left">
    <!-- main navigation -->
    <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
        <p class="nav-title">PRINCIPAL</p>
        <ul class="nav">

            <li>
                <a href="/">
                    <i class="ti-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/Audits">
                    <i class="ti-lock"></i>
                    <span>Auditoria</span>
                </a>
            </li>

            <li>
                <a href="/Accounts">
                    <i class="ti-user"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <li>
                <a href="/Connections">
                    <i class="ti-signal"></i>
                    <span>Conexões</span>
                </a>
            </li>

            <li>
                <a href="/Dispatchers">
                    <i class="ti-plug"></i>
                    <span>Despachantes</span>
                </a>
            </li>

            <li>
                <a href="/Plans">
                    <i class="ti-shopping-cart-full"></i>
                    <span>Planos</span>
                </a>
            </li>

            <li>
                <a href="/Insurers">
                    <i class="ti-shield"></i>
                    <span>Seguradoras</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
