﻿@if (TempData.ContainsKey("toastr"))
{
    var message = TempData["toastr"] as Alvac.Ui.Admin.Models.ToastrMessage;

    switch (message.Level)
    {
        case System.Diagnostics.TraceLevel.Info:

            <script type="text/javascript">toastr["info"]("@message.Message")</script>
            break;
        case System.Diagnostics.TraceLevel.Warning:
        <script type="text/javascript">toastr["warning"]("@message.Message")</script>
            break;
        case System.Diagnostics.TraceLevel.Error:

            string errorMessage = message.Message;

            if (string.IsNullOrEmpty(message.Message))
            {
                errorMessage = "Oops! Não foi possível realizar sua solicitação.";
            }

            <script type="text/javascript">toastr["error"]("@errorMessage")</script>
            break;
        default:
        
        string successMessage = message.Message;

            if (string.IsNullOrEmpty(message.Message))
            {
                successMessage = "Operação realizada com sucesso!";
            }
        
        <script type="text/javascript">toastr["success"]("@successMessage")</script>
            break;
    }
}

