﻿@model IEnumerable<Alvac.Domain.DataTransferObject.ConnectionParameter>

@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Parâmetros da Conexão";
    ViewBag.BreadDescription = "Listagem de parâmetros  da conexão.";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-connection-parameters">
            <i class="ti-share mr5"></i>Adicionar novos parâmetros
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable" data-sortable="" data-sortable-initialized="true">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Key)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Value)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Value)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.ConnectionId })"><span class="ti-pencil-alt"></span></a>
                                        <a href="@Url.Action("Delete", new { id = item.ConnectionId })"><span class="ti-trash"></span></a>
                                    </td>
                                </tr>

                                 <!-- Modal -->
                                <div class="modal fade" id="add-connection-parameters" tabindex="-1" role="dialog" aria-labelledby="addCOnnectionParameterModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Adicionar parâmetro</h4>
                                            </div>
                                            <form class="form-inline" method="post" action="/connectionparameters/create">
                                                <div class="modal-body">
                                                    <input type="hidden" id="ConnectionId" name="ConnectionId" value="@item.ConnectionId" />
                                                    <div class="form-group">
                                                        <label for="Key">Chave</label>
                                                        <input type="text" class="form-control" id="Key" name="Key" placeholder="Identificador do parâmetro">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Value">Valor</label>
                                                        <input type="text" class="form-control" id="Value" name="Value" placeholder="Valor do parâmetro">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </section>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('.datatable').dataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
        });
    </script>
}