﻿<div class="modal-header">
    <h3 class="modal-title">Novo template</h3>
</div>
<form name="templateForm" novalidate>
    <div class="modal-body">
        <div class="form-group" data-ng-class="{'has-error': templateForm.name.$error.required
                 && templateForm.submitted}">
            <label for="name" class="control-label">Nome</label>
            <input type="text" class="form-control" name="name" ng-model="model.name" required />
        </div>

        <div class="form-group" data-ng-class="{'has-error': templateForm.description.$error.required
                 && templateForm.submitted}">
            <label for="description" class="control-label">Descrição</label>
            <input type="text" class="form-control" name="description" ng-model="model.description" required />
        </div>

        <div class="form-group" data-ng-class="{'has-error': templateForm.requestType.$error.required
                 && templateForm.submitted}">
            <label for="description" class="control-label">Tipo de requisição</label>
            <select name="requestType" class="form-control" ng-model="model.requestType" required>
                <option value="">Selecione</option>
                <option value="1">Cotação de automóvel</option>
                <option value="2">Cotação de vida</option>
                <option value="3">Cotação de residencia</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button class="btn btn-success" ng-click="ok()">Salvar</button>
    </div>
</form>