﻿<h3 id="pageTitle" class="yellow"><i class="glyphicon glyphicon-briefcase"></i> {{pageTitle}}</h3>

<div class="panel panel-warning">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-list-alt"></i> Listagem de usuários

        <div class="pull-right" master-only="show">
            <a class="btn btn-default pull-right" href="/corretora/usuarios/cadastro"><i class="glyphicon glyphicon-plus"></i> Novo usuário</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

        <div class="col-sm-3 pull-right">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Pesquisar usuário" aria-describedby="sizing-addon1" ng-model="search.$">
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Usuário</th>
                    <th>Cadastro</th>
                    <th>Permissão</th>
                    <th master-only="show"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in users | filter:search:strict">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.email}}
                    </td>
                    <td>
                        {{item.created | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                    <td>
                        {{item.roleName | role}}
                    </td>
                    <td master-only="show">
                        <i class="glyphicon glyphicon-pencil" title="Editar" ng-click="goToDetails(item.id)"></i>
                        <i class="glyphicon glyphicon-trash" title="Deletar" ng-click="delete(item)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-show="lastQuotations.length == 0">
            Nenhum usuários encontrado.
        </p>
    </div>
</div>
