﻿<div class="panel panel-danger">
    <div class="panel-heading">
        Configuração das seguradoras - Templates
        <div class="pull-right">
            <a class="btn btn-default" ng-click="newTemplate()" master-only="show"><i class="glyphicon glyphicon-plus"></i> Novo Template</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <accordion close-others="true" >
            <accordion-group ng-repeat="item in templates">
                <accordion-heading>

                    {{item.name}} - {{item.description}} - {{item.requestType}}

                    <div class="pull-right">
                        <i class="glyphicon glyphicon-trash" title="Deletar" ng-click="delete(item)" master-only="show"></i>
                    </div>
                </accordion-heading>
                <div class="pull-right">
                    <label class="control-label pull-right">Ativado:</label>
                    <br />
                    <input type="checkbox" ng-model="item.isActive" bs-switch
                           switch-on-color="success"
                           switch-off-color="danger"
                           switch-on-text="<i class='glyphicon glyphicon-ok'></i>" switch-off-text="<i class='glyphicon glyphicon-remove'></i>" />
                </div>

                <ul class="list-unstyled list-inline col-sm-10">
                    <li data-ng-repeat="insurer in insurers" ng-click="openTemplateConfiguration(insurer, item)">
                        <img alt="{{item.name}}" title="{{insurer.name}}" ng ng-src="/assets/img/seguradoras/{{insurer.name}}.png">
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>

