﻿@model Alvac.Domain.DataTransferObject.Connection

@{
    ViewBag.Title = "Delete";
    ViewBag.BreadTitle = "Plano";
    ViewBag.BreadDescription = "Deletar um plano no sistema";
}

<div class="row">
    <div class="col-md-12">
        <h3>Tem certeza que deseja deletar?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DispatcherId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DispatcherId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MaxThroughput)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaxThroughput)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LengthTimeUnitThroughput)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LengthTimeUnitThroughput)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WindowSize)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WindowSize)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InputQueueName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InputQueueName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OutputQueueName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OutputQueueName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NotificationQueueName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NotificationQueueName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDefault)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDefault)
                </dd>

            </dl>

            @using (Html.BeginForm("PostDelete", "Connections"))
            {
                @Html.Hidden("id", Model.ConnectionId)

                <div class="form-actions no-color">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })

                    <input type="submit" value="Excluir" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>