﻿@model IEnumerable<Connection>

@{
    ViewBag.Title = "Index";
    ViewBag.BreadTitle = "Conexões";
    ViewBag.BreadDescription = "Listagem de conexões do sistema";
}

<div class="row mt25 mb25">
    <div class="col-xs-12">
        <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
            <i class="ti-share mr5"></i>Criar nova conexão
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered responsive no-m datatable" data-sortable="" data-sortable-initialized="true">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WindowSize)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaxThroughput)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WindowSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaxThroughput)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.ConnectionId })"><span class="ti-pencil-alt"></span></a>
                                        <a href="@Url.Action("Delete", new { id = item.ConnectionId })"><span class="ti-trash"></span></a>
                                        <a href="@Url.Action("Index", "ConnectionParameters", new { connectionId = item.ConnectionId})"><span class="ti-view-list" title="Parâmetros da Conexão"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('.datatable').dataTable({
            language: {
                url: "/plugins/datatables/pt-br.js"
            },
        });
    </script>
}